<form ng-submit="connectLogin($event)" action="" class="list list-inset form-connection">
	<label class="item item-input item-stacked-label on-light">
		<span class="input-label">{{ 'LOGIN.GYM_USERNAME' | translate }}</span>
		<input type="text" ng-model="params.username" required>
	</label>
	<label class="item item-input item-stacked-label on-light">
		<span class="input-label">{{ 'LOGIN.PASSWORD' | translate }}</span>
		<input type="password" ng-model="params.password" required>
	</label>

	<div class="form-survay" ng-show="connection.subcribe_survey.length > 0">
		<div class="list">
			<div ng-repeat="q in connection.subcribe_survey">
				<ng-include src="'templates/connect/form/' + q.question_type + '.html'"></ng-include>
			</div>
		</div>
	</div>

	<button class="button button-block button-positive" translate="LOGIN.LOGIN_BUTTON">
	Login
	</button>
	<div class="spacer" style="height: 24px"></div>
	<p class="text-center">
		<button ng-click="closeModal({})" class="button button-clear">{{ 'ACTION.CANCEL' | translate }}</button>
	</p>

</div>