<ion-modal-view class="auth-view">
	<ion-content class="bg">

		<div ng-if="IsLogin==true" class="login-wrapper">
			<div class="col col-center">
				<p class="text-center logo">
					<img src="./img/logo.png" alt="">
				</p>
				
			</div>
			
			<div class="list">
				<label class="item item-input">
					<i class="icon ion-email placeholder-icon"></i>
					<input ng-model="data.email" type="email" placeholder="Email">
				</label>
				<label class="item item-input">
					<i class="icon ion-locked placeholder-icon"></i>
					<input ng-model="data.password" type="password" placeholder="password">
				</label>
				<div class="row authlink-wrap">
					<div class="col"></div>
					<div class="col"><a ng-click="expression" class="authlink">Register</a></div>
				</div>
				
				

				<button ng-disabled="!data.email || !data.password" ng-click="signIn(data)" class="button button-block button-white">Sign in</button>

				<p class="text-center">OR</p>

				<button ng-click="signInFacebook()" class="button icon-left button-block button-facebook ion-social-facebook">Sign in with Facebook</button>
			</div>

		</div>
		<div ng-if="IsLogin==false" class="sign-up-wrapper">
			
			<div class="col col-center">
				<p class="text-center logo">
					<img src="./img/logo.png" alt="">
				</p>
				
			</div>
			
			<div class="list">
				<label class="item item-input">
					<i class="icon ion-person placeholder-icon"></i>
					<input type="text" ng-model="data.username" placeholder="Username">
				</label>
				<label class="item item-input">
					<i class="icon ion-email placeholder-icon"></i>
					<input type="email" ng-model="data.email" placeholder="Email">
				</label>
				<label class="item item-input">
					<i class="icon ion-locked placeholder-icon"></i>
					<input ng-model="data.password" type="password" placeholder="password">
				</label>

				<button ng-disabled="!data.email || !data.password || !data.username" ng-click="signUp(data)" class="button button-block button-white">Sign Up</button>

				<p class="text-center">OR</p>

				<button ng-click="signInFacebook()" class="button icon-left button-block button-facebook ion-social-facebook">Sign Up with Facebook</button>
			</div>

		</div>
		
	</ion-content>
</ion-modal-view>