<ion-view class="landing-view" hide-nav-bar="true">
	<ion-content class="bg" scroll="false" has-subheader="false">
		<div class="welcome-backdrop">
			<div class="top-panel">
				<div class="col col-center">
					<p class="text-center logo">
						<img src="./img/logo.png" alt="">
					</p>
					
				</div>
			</div>
			<div class="bottom-panel">
				<div class="row">
					<div ng-click="gotoSignUp()" class="col col-50">
						<h2>Get Started</h2>
						<p class="rider">Create Your Account</p>
					</div>
					<div class="col getstarted">
						
					</div>
					<div ng-click="gotoSignIn()" class="col col-50 sign-in-col">
						<h2>Sign In</h2>
						<p class="rider">Your Account</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	
</ion-view>