<ion-content scroll="true" ng-controller="FirstController">
    <div class="signup-terms-modal">
    <div class="modal-header">
        <div class="top_close">
            <button class="button button-icon icon ion-ios7-close-empty" ng-click="hidePolicy()" style="color:#000;"></button>
        </div>
        <h3 class="modal-title" style="color: black;margin-top: 10px;">Privacy Policy</h3>
    </div>
    <div class="modal-body">
        <h4>RECITALS</h4>
        <div class="text-justify">This privacy policy (“Privacy Policy”) sets out our policy with respect to the way we use and disclose personal information about you (“you”) which is disclosed to us either directly or through our website and associate mobile app at [http://www.workninja.com] (the “Website”).</div>
        <h4>1. Collection of Personal Information</h4>
        <p class="text-justify">“Personal Information” is information from which your identity is apparent or can be reasonably ascertained. The types of information generally collected by us include your name, date of birth, residential and/or postal address, telephone number, email address and credit card information.</p>
        <p class="text-justify">By providing us with Personal Information, you consent to the practices described in this Privacy Policy. When providing Personal Information to us, please be aware that there are risks involved in transmitting such information across the Internet.</p>
        <h4>2. Use and Disclosure of Personal Information</h4>
        <p class="text-justify">We will only use your Personal Information for the purposes for which it was collected and we will not disclose your Personal Information without gaining your consent except where such disclosure is required by law.</p>
        <p class="text-justify">We have secured our Website using industry standard technology. However, we cannot provide any guarantee with respect to the security of your Personal Information and we will not be liable for any breach of security or unintended loss or disclosure of information due to the Website being linked to the Internet.</p>
        <p class="text-justify">We use your Personal Information in the following ways:
            <br>(a) to deliver services you have requested from us;
            <br>(b) to confirm your identity; and
            <br>(c) for direct marketing purposes.</p>
        <p class="text-justify">For direct marketing purposes, your Personal Information will be added to our database. The database may be used for ongoing marketing and educative purposes. The type of marketing and educative activities that we undertake includes forwarding material to you so that you are kept updated in relation to various issues and our services. If at any time you do not wish to continue receiving this information, we provide an “opt-out” procedure in each communication to you.</p>
        <h4>3. Opting Out</h4>
        <p class="text-justify">In each generic correspondence sent out to you, we will endeavour to include simple instructions on how you can immediately unsubscribe from the relevant mailing list. You can also opt out from receiving promotional material by contacting us directly.</p>
        <h4>4. Accessing, Updating and Correcting your Personal Information</h4>
        <p class="text-justify">You may request from us in writing to provide you with details of the Personal Information we hold about you. We will endeavour to process your request as soon as practicable. If we deny your request, we will provide reasons in writing as to our decision. To complain or contest our decision, please contact our Privacy Officer. If you wish to amend information that is out of date or incorrect, or if you wish for your Personal Information to be removed from our database, please contact our Privacy Officer.</p>
        <h4>5. Security</h4>
        <p class="text-justify">We will use all reasonable endeavours to secure any Personal Information we hold about you and to keep this information accurate and up-to-date. Your Personal Information is stored behind industry standard firewalls and where applicable, protected by user names and passwords.</p>
        <h4>6. Cookies</h4>
        <p class="text-justify">You may be required to have a cookie-enabled browser to fully access the Website. A cookie is a piece of data stored on your computer tied to information about you. Cookies may be used to track your internet browsing activities and the websites you have visited.</p>
        <p class="text-justify">We may, for statistical, security or quality purposes, use cookies to log:
            <br>(a) your internet protocol (IP) address;
            <br>(b) the date and time of your visit;
            <br>(c) the pages you have accessed and documents downloaded; and
            <br>(d) the type of browser you were using.</p>
        <h4>7. Links</h4>
        <p class="text-justify">The Website may contain links to other websites. Please note that we are not responsible for the privacy practices of these sites. When you leave our Website, you should familiarise yourself with the privacy statement of that website prior to providing your Personal Information, as this Privacy Policy only applies to Personal Information collected by us or through our Website.</p>
        <h4>8. Changes to this Privacy Policy</h4>
        <p class="text-justify">We may, from time to time, review, amend and update this Privacy Policy. When this occurs, we will post details of this update on the Website. We encourage you to periodically review this Privacy Policy so you are aware of our latest practices with respect to Personal Information. Hardcopies of this Privacy Policy are available upon request.</p>
        <h4>9. Contact Information</h4>
        <p class="text-justify">Upon receipt of a complaint, we will work with you to resolve your complaint. If we are unable to resolve your complaint to your satisfaction within a reasonable timeframe, you may refer your complaint to the Privacy Commissioner.</p>
        <p class="text-justify">If you wish to exercise any of your rights under this Privacy Policy, have any questions, comments or complaints regarding our practices, or if you are of the view that we have not adhered to this Privacy Policy, you may write to our Privacy Officer by emailing privacy@workninja.com or writing to us at Suite 44, Jones Bay Wharf, 26-32 Pirrama Road, Pyrmont, NSW 2009, Australia.</p>
    </div>
    </div>
</ion-content>