<ion-view cache-view="false" view-title="Адреса доставки">
  <ion-content>


                <ion-list show-delete="false" show-reorder="false">

                       <ion-item ng-repeat="adress in adresses"
                                 item="adress"

                                 class="item-remove-animate">
                                 <H2>{{adress.city}}</H2>
                                 <p>{{adress.country}}</p>
                                 <p>{{adress.postcode}}, {{adress.address_1}}, {{adress.address_2}}</p>
                                 <ion-option-button class="button-assertive"
                                                  ng-click="onItemDelete(adress)">
                                  Удалить
                                 </ion-option-button>

                         <ion-option-button class="button-dark"
                                            ng-click="edit(adress)">
                          Редактировать
                         </ion-option-button>


                       </ion-item>

                     </ion-list>

                     <div ng-show="error" class=" no_shadow card">
                                     <div class="item item-text-wrap">
                                       <b ng-bind="error"></b>
                                     </div>
                                 </div>
                <div>  <a href="#/tab/customer/addadress" class="button button-full button-dark">
                  Добавить новый адрес
                  </a> </div>
  </ion-content>
</ion-view>
