<ion-view class="bg-welzen unlock" view-title="Terms and Conditions">
  <ion-header-bar align-title="center" class="header">
    <a class="header__back-button" ng-click="goBack(-1)"><img src="img/btn-back.png"/></a>
    <h1 class="title">Terms and Conditions</h1>
    <a class="header__close-button" ui-sref='main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

    <ion-content has-bouncing="true">
      <div class="container">
        <div class="terms">
          <strong>WELZEN TERMS AND CONDITIONS</strong>
          <p>This Agreement (the “Agreement”) governs your use of services with http://welzen.org. The use of our services means that you have read, understood, and accepted all terms and conditions of this agreement. If do you not agree to be bound by the terms of this agreement, please do not use any of our services.</p>

          <p>Welzen.org provides a mindfulness meditation app to help you deal with your everyday life. We provide a mobile app that contains countless Mindfulness practices that are available anytime, anywhere, and are designed to lead you to a happier and stress-free life. Mindfulness changes different regions of the brain enhancing concentration, emotion regulation, and decreasing stress.</p>

          <strong>GENERAL</strong>
          <p>This AGREEMENT is between Welzen (“We” or “Us”) and YOU.</p>

          <strong>ELIGIBILITY</strong>
          <p>If you are under the age f 10 years old, you are required to have parental consent. To purchase or subscribe to any of our services you need to be at least 18 years of age or older and capable of forming a binding contract or you will be automatically disqualified under the law.</p>

          <strong>SERVICE USAGE</strong>
          <p>Our services provides relaxation and self-improvement sessions. You may purchase additional content and services offered within our app at any time. Welzens' services do not contain any medical treatment and/or diagnostics. Thus, the information stated is not to be treated or interpreted as such.</p>

          <strong>PURCHASE</strong>
          <p>Certain features on our app may be used in exchange for a one-time flat fee. All descriptions of features associated with these type of offerings are available via our website and/or mobile application. If you choose to purchase the enhanced offering via the App, you agree to pay the applicable fees and taxes associated to the transaction. The fee will be charged to your account through the app store or distribution platform (like the Apple App Store or Google Play) where the App is made available (each, an “App Provider”). All fees are non-refundable and non-transferable except as expressly provided in these Terms. Upon purchase, you agree to be bound by the terms and conditions of your distribution platform (such as App Store or Google Play). Their terms and conditions are different from the ones on this agreements.</p>

          <strong>COPYRIGHT OWNERSHIP</strong>
          <p>Welzen.org and its licensors exclusively own all title, right and interest in and to the services and content. You acknowledge and agree that the services and content provided herein are protected by copyright, trademark and other laws of the United States and foreign countries.</p>

          <strong>LICENSE GRANT</strong>
          <p>Welzen.org hereby grants you to use our services on an individual basis. Welzens' services may not be used for commercial purposes, under any circumstance, and may not be modified or redistributed.</p>

          <strong>RESTRICTIONS</strong>
          <p>Welzen.org reserves its right to determine whether the use of our services qualifies you under this Agreement. Welzen.org reserves all rights, title and interest to our services (including all intellectual property rights) and reserves all rights to our Services that are not granted expressly granted in this Agreement. You may not alter, merge, modify, adopt or translate our services (or our mobile application), or decompile, reverse engineer, disassemble, or otherwise reduce our mobile application to a human-perceivable form. You are also prohibited to make illegal copies of our mobile application without the express approval from Welzen.org.</p>

          <strong>PRIVACY POLICY</strong>
          <p>You agree that the use of Welzens' Services may result in collection and usage of technical data and/or related information, including but not limited to technical information about Your device, system, and your hardware or software specifications, that is gathered periodically to facilitate the provision of our updates, product support and other services to You (if any) related to this Services. Our Services may use this information, as long as it is in a form that does not personally identify you, to improve its products or to provide services or technologies to you.</p>

          <strong>LIMITED WARRANTY AND DISCLAIMER</strong>
          <p>Welzen.org provides no remedies or warranties, whether express or implied, for any sample application code, or any other subscription that Welzen.org may provide. Use of our services</p>
          <p>Welzen.org provides no remedies or warranties, whether express or implied, for any sample application code, or any other subscription that Welzen.org may provide. Use of our services are deemed “AS IS”.</p>
          <p>Services mentioned under this AGREEMENT, should be used at your own risk. The Services is provided on an "AS IS" basis, without warranty of any kind.</p>
          <p>Should the You fail to comply the system requirements to the use of our Services, You assumes all risk or whatever the result by reason of the usage of their Services.</p>
          <p>Under no circumstances and under no legal obligation or contract or whatsoever, shall Welzen.org, or any of its agent be liable for any indirect or incidental damages including computer malfunction, commercial damages or losses, even if the Welzen.org shall have been informed of the possibilities of such damages.</p>

          <strong>STATUTE OF LIMITATIONS</strong>
          <p>Regardless of any statute or laws to the contrary, you must file any claim or cause of action arising out or related to the Services within (1) one year after such claim or cause of action arose or be forever barred. This section shall survive termination of this AGREEMENT</p>

          <strong>SEVERABILITY</strong>
          <p>If any provision of this Terms and Conditions is adjudged by a court to be void or unenforceable such provision shall in no way affect any other provision of this Agreement, the application of the provision in any other circumstances or the validity or enforceability of this Agreement and such provision shall be curtailed and limited only to the extent necessary to bring it within legal requirement.</p>

          <strong>ENTIRE AGREEMENT</strong>
          <p>These terms and conditions constitute the entire agreement between You and Welzen.org in relation to your usage of our Services. No additional provisions are expressed nor implied. This AGREEMENT supersedes any all previous oral and/or written, express and/or implied agreements. By subscribing to any of our Services, YOU HAVE READ AND FULLY UNDERSTOOD THIS AGREEMENT and ACCEPTS ALL TERMS, CONDITIONS, COVENANTS AND RESTRICTIONS,WITHOUT EXCEPTION.</p>

          <strong>CONTACT INFORMATION</strong>
          <p>If you have any questions, please visit the Knowledge Base (http://welzen.org) or email us: support@welzen.org.</p>

          <strong>AMENDMENTS</strong>
          <p>Welzen.org reserves the right to amend the information of this Terms and Conditions at any time without prior notice. The information of the use of the Services is contained on the website: http://welzen.org. It is within your obligation to periodically peruse all Terms and Conditions associated to Welzens' services and plans in order to stay current with any updates made.</p>
        </div>
      </div>
    </ion-content>

</ion-view>
