<ion-view class="bg-welzen corporate-connect" view-title="Corporate Connect">

  <ion-header-bar align-title="center" class="header">
    <a class="header__back-button" ng-click="goBack(-1)"><img src="img/btn-back.png"/></a>
    <h1 class="title">Corporate Connect</h1>
    <a class="header__close-button" href='#/main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

  <ion-content has-bouncing="true">
    <div class="container">

      <div class="info-box--purple-clear">
        <div class="info-box__contents">
          <span class="info-box__brief">If we have an agreement with your employer, Corporate connect helps you get Welzen subscription at a lower cost or even free.</span>
        </div>
      </div>

      <a class="info-box--transparent--medium-padding" href="#/corporate/discounts">
        <div class="corporate-icon"><img src="img/corporate-icon.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__title">Wild Fox Consulting LLC.</span>
          <span class="info-box__brief">Free Yearly Subscription</span>
        </div>
        <div class="info-box__forward info-box__forward--push-left"><img src="img/btn-forward.svg"></div>
      </a>

      <a class="info-box--transparent--medium-padding" href="#/corporate/discounts">
        <div class="corporate-icon"><img src="img/corporate-icon.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__title">United Parcel Service</span>
          <span class="info-box__brief">$90 Off Yearly Subscription</span>
        </div>
        <div class="info-box__forward info-box__forward--push-left"><img src="img/btn-forward.svg"></div>
      </a>

      <a class="info-box--transparent--medium-padding" href="#/corporate/discounts">
        <div class="corporate-icon"><img src="img/corporate-icon.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__title">Coca-Cola</span>
          <span class="info-box__brief">Free Yearly Subscription</span>
        </div>
        <div class="info-box__forward info-box__forward--push-left"><img src="img/btn-forward.svg"></div>
      </a>

      <a class="info-box--transparent--medium-padding" href="#/corporate/discounts">
        <div class="corporate-icon"><img src="img/corporate-icon.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__title">Wild Fox Consulting LLC.</span>
          <span class="info-box__brief">Free Yearly Subscription</span>
        </div>
        <div class="info-box__forward info-box__forward--push-left"><img src="img/btn-forward.svg"></div>
      </a>

      <a class="info-box--transparent--medium-padding" href="#/corporate/discounts">
        <div class="corporate-icon"><img src="img/corporate-icon.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__title">United Parcel Service</span>
          <span class="info-box__brief">$90 Off Yearly Subscription</span>
        </div>
        <div class="info-box__forward info-box__forward--push-left"><img src="img/btn-forward.svg"></div>
      </a>

      <a class="info-box--transparent--medium-padding info-box--transparent--no-border" href="#/corporate/discounts">
        <div class="corporate-icon"><img src="img/corporate-icon.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__title">Coca-Cola</span>
          <span class="info-box__brief">Free Yearly Subscription</span>
        </div>
        <div class="info-box__forward info-box__forward--push-left"><img src="img/btn-forward.svg"></div>
      </a>

    </div>
  </ion-content>

</ion-view>
