<div class="modal video-modal modal-colors">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary left-button icon ion-android-close"
                ng-click="cancelVideoModal()"></button>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div id='videoplayer' style="background-color:black">
            <video id="modal-video-player" ng-src="{{videoAddressModal}}" preload="" playsinline="true"
                   webkit-playsinline=""
                   autoplay="" controls="" loop="" muted="" ng-if="showVideo && !androidPlatform">
            </video>
            <video id="modalvideoplayer" style="opacity:0.00001" loop muted ng-if="showVideo && androidPlatform">
            </video>
        </div>
    </ion-content>
</div>
