@import "variables";

.page-about {
	background: #815f57 url('../images/about/background_about.jpg') center center no-repeat;
	background-size: cover;

	.about-body {
		position: relative;

		h1 {
			margin: 20px 20px;
			width: 280px; //420px;
			height: 40px; //60px;
		}

		h2 {
			color: #ad252a;
			margin: 40px 20px 10px;
			font-family: HelveticaNeueBLK, sans-serif;
			text-transform: uppercase;
			font-size: 15px;
		}

		span {
			color: #fff;
			margin: 10px 20px;
			font-family: HelveticaNeueLT, sans-serif;
			font-size: 25px;
			z-index: -1;
		}
	}

	.logo {
		position: absolute;
		left: 20px;
		bottom: 70px;
		width: 120px;
		height: 120px;
	}

	@media only screen and (max-height: 480px) {
		.logo {
			left: auto;
			right: 20px;
		}
	}
}