<ion-view view-title="Time dilation">
  <ion-content class="padding" has-bouncing="true">
    <ion-list>
      
      <div class="back-stable cornered padding" style="font-size: 16px; line-height: 25px">
        
        <i id="text-header">Did you ever dream of traveling in time? </i>
        
        <div class="section-divider"></div>
        
        <p>
        Actually, you can - the satellites who help you find the closest route to Starbucks already do it every day. This thanks to a concept known as gravitational time dilation, explained by Einstein’s theory of general relativity. 
        </p>
        
        <div class="section-divider"></div>
        
        <p>
          <a id="text-header-link" ng-click="openLink('http://www.wired.com/2010/09/ordinary-relativity/')">
            <i class="ion-link"></i> <span class="tab"></span>Click to read more about Time Dilation on Wired
          </a>
        </p>
        
        <div class="section-divider"></div>
        
        <p>
        Unfortunately, the time travel experienced by you or a satellite is so small that it’s hardly noticeable, 
        sometimes even measured by picto seconds - that is,  one trillionth, or one millionth of one millionth of a second, or 0.000 000 000 001 seconds. 
        But it IS nevertheless time travel, and it will accumulate during the course of your life.
        </p>
        
        <div class="section-divider"></div>
        
        <p>
        So wouldn’t it be awesome if there was a way for you to keep track of your accumulated progress as a time traveler? Enters TimeTraveler, the app that help you do precisely that. 
        </p>
        
        <div class="section-divider"></div>
        
        <p id="text-header">Side note<p>
          
        <p>There are actually two types of time dilation:</p>
        
        <p>
          <strong>1. Relative velocity time dilation</strong><br> 
          <strong>2. Gravitational time dilation</strong>
        </p>
          
        <p>
          This app measures the first, and the second has been illustrated in the movie Interstellar.
        </p>
        
        <div class="section-divider"></div>
        
        <p>
          <a id="text-header-link" ng-click="openLink('http://www.wired.com/2014/11/metaphysics-of-interstellar/')">
            <i class="ion-link"></i> <span class="tab"></span>Click to read more about the metaphysics of Interstellar on Wired
          </a>
        </p>
        
          
        <div class="section-divider"></div>

        <p>
          As we only measure the relative velocity time dilation, there might be a slight difference between the actual time dilation that the user experiences and the one we measure. 
          An example of this would be the GPS satellites: one the one hand they experience a positive time dilation due to the high velocity at which they are moving. 
          On the other hand, a part of this is cancelled out due to the lower gravitational pull in the Earth's orbit.
        </p>
      
      </div>

    </ion-list>
  </ion-content>
</ion-view>
