<ion-view title="Title">

    <ion-tabs tabs-type="tabs-icon-only">
        <ion-tab title="Tab 1" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
            <ion-content has-header="true" padding="true">
                <h2>Tab 1 Content</h2>
            </ion-content>
        </ion-tab>

        <ion-tab title="Tab 2" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
            <ion-content has-header="true" padding="true">
                <h2>Tab 2 Content</h2>
            </ion-content>
        </ion-tab>

        <ion-tab title="Tab 3" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
            <ion-content has-header="true" padding="true">
                <h2>Tab 3 Content</h2>
            </ion-content>
        </ion-tab>
    </ion-tabs>

</ion-view>