<ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="goBack()">
            Back
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-view view-title="dsf">
    <ion-content class="padding">
        <a class="button button-outline button-assertive button-block" ng-click="googleLogin()"><i class="icon ion-social-googleplus-outline"></i> Google</a>
        <a class="button button-outline button-positive button-block" ng-click="facebookLogin()"><i class="icon ion-social-facebook-outline"></i> Facebook</a>
        <a class="button button-outline button-calm button-block" ng-click="twitterLogin()"><i class="icon ion-social-twitter-outline"></i> Twitter</a>
    </ion-content>
</ion-view>
