<ion-view class="bg-welzen settings" view-title="Settings">
  <ion-header-bar align-title="center" class="header">
    <h1 class="title">Settings</h1>
    <a class="header__close-button" ui-sref='main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

    <ion-content has-bouncing="true">
      <div class="container">

        <!--<a class="drawer__option" ui-sref="reminders">
          <div class="icon">
            <img src="img/ico-nav-reminders.png" />
          </div>
          Mindful Reminders
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a>

         <a class="drawer__option" ui-sref="downloads">
          <div class="icon">
            <img src="img/ico-nav-download.png" />
          </div>
          Download Manager
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a> -->



<!--         <a class="drawer__option" ui-sref="language-settings">
          <div class="icon">
            <img src="img/ico-language.png" />
          </div>
          Language
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a> -->

        <a class="drawer__option" ng-click="shareApp()">
          <div class="icon">
            <img src="img/ico-nav-share.png" />
          </div>
          Share Welzen App
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a>

        <a class="drawer__option" ng-click="reviewApp()">
          <div class="icon">
            <img src="img/ico-nav-review.png" />
          </div>
          Give Welzen 5 Stars
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a>

        <a class="drawer__option" ui-sref="about">
          <div class="icon">
            <img src="img/ico-welzen.png" />
          </div>
          About Welzen
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a>

        <a class="drawer__option" ui-sref="billing-details">
          <div class="icon">
            <img src="img/ico-billing-details.png" />
          </div>
          Billing Policy
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a>

        <a class="drawer__option" ui-sref="terms">
          <div class="icon">
            <img src="img/ico-terms.png" />
          </div>
          Terms &amp; Conditions
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a>

        <!--<a class="drawer__option" ui-sref="science">
          <div class="icon">
            <img src="img/ico-science.png" />
          </div>
          The Science
          <div class="info-box__forward"><img src="img/btn-forward.svg"></div>
        </a>-->


      </div>
    </ion-content>
</ion-view>
