<ion-view title="Edit Password" hide-back-button="true">
		<ion-content class="editpassword-modal">
		<section class="login-container">
				<form name="userpasswordeditForm" class="formStyle padding" ng-submit="userLoginPassword(userpasswordeditForm);" novalidate >
        	 		<ion-list class="">
					<label class="item item-input" ng-class="{ 'has-errors' : userpasswordeditForm.oldpassword.$invalid, 'no-errors' : userpasswordeditForm.oldpassword.$valid}"><input type="password" placeholder="Old Password" name="oldpassword" maxlength="20" ng-minlength="8" ng-maxlength="20" ng-model="iniLogin.oldpassword" required></label>
					<div class="error-container" ng-show="userpasswordeditForm.oldpassword.$error" ng-messages="userpasswordeditForm.oldpassword.$error">
						<div ng-messages-include="password-validate.html"></div>
					</div>
					<!-- Password and confirm password-->
					<label class="item item-input"  ng-class="{ 'has-errors' : userpasswordeditForm.password.$invalid , 'no-errors' : userpasswordeditForm.password.$valid}">
						<input type="password" placeholder="Password" name="password" ng-minlength="8" ng-maxlength="15" maxlength="20" ng-model="iniLogin.password" >
					</label>
					<div class="error-container" ng-show="userpasswordeditForm.password.$error" ng-messages="userpasswordeditForm.password.$error">
						<div ng-messages-include="password-validate.html"></div>
					</div>
					<label class="item item-input"  ng-class="{ 'has-errors' : userpasswordeditForm.confirm.$invalid, 'no-errors' : userpasswordeditForm.confirm.$valid}">
					<input type="password" placeholder="Confirm Password" name="confirm" ng-model="iniLogin.confirm" maxlength="20" ng-minlength="8" ng-maxlength="20"  ng-pattern="{{iniRegister.password}}" required>
					</label>
					<div class="error-container" ng-show="userpasswordeditForm.confirm.$error" ng-messages="userpasswordeditForm.confirm.$error">
						<div ng-messages-include="password-validate.html"></div>
					</div>
					<button class="button button-block button-small commonButton" ng-disabled="userpasswordeditForm.$invalid"  ng-click = "">Edit</button>
				</ion-list>
         </section>

		<script id="password-validate.html" type="text/ng-template">
		<div class="error" ng-message="minlength">  Minimum length of this field is 8 characters!. Use combination of alphanumerical values for secure password.</div>
		<div class="error" ng-message="maxlength">  Maximum length of this field is 20 characters!. Use combination of alphanumerical values for secure password.	</div>
		<div class="error" ng-message="pattern">  Must match the previous entry </div>
		</script>
		</ion-content>
</ion-view>
