<ion-view>
    <div class="feed">
        <div id="backBrand" class="async full" ng-style="{ 'background-image': 'url(' + news.image__large + ')' }"></div>
        <div id="titleBrand" class="head" ng-click="toggleButton()">
            <h1>
                <small><hr class="line"> {{ news.category.title }}</small> <br>
                {{ news.title.slice(0,38) }}
            </h1>
        </div>
        <ion-content has-bouncing="true" id="contentBrand" delegate-handle=" 'scrollBrand' " class="news" on-scroll="off('Brand')">
            <div class="content-scroll">
                <h1>
                    <span>
                        <small><hr class="line"> {{ news.category.title }}</small> <br>
                        <b>{{ news.title.slice(0,38) }}</b>
                    </span>
                </h1>
                <div class="product-infos element">
                    <div class="social row">
                        <div class="col">
                            <span class="bts"></span>
                            {{ item.dateNews | date:'longDate' }}
                        </div>
                        <div class="col">
                        </div>
                        <div class="col">
                            <span class="bts bts-seen"></span>
                            {{ item.likes_count }}
                        </div>
                    </div>
                    <hr class="outline"></hr>
                    <div class="row">
                        <div class="col"> <strong ng-bind-html="news.excerpt"></strong></div>
                    </div>
                    <div class="row news-content">
                        <div class="col" ng-bind-html="news.content"></div>
                    </div>

                    <hr>
                    <div class="full-list" id="list0">
                    <div class="full-list-item" ng-repeat="link in news.links.slice(0,3)">
                        <div class="back" ng-click="goId(link.element_type,link.id)" ng-style=
                            "{ 'background-image': 'url(' + link.image__thumbnail + ')' }"></div>
                        <p>{{ link.title.slice(0,16) }}</p>
                        </div>
                        <div class="full-list-item hide" ng-click="goId(link.element_type,link.id)" ng-repeat="link in news.links.slice(3,item.links.length)">
                            <div class="back" ng-style=
                                "{ 'background-image': 'url(' + link.image__thumbnail + ')' }"></div>
                            <p>{{ link.title.slice(0,16) }}</p>
                        </div>
                        <div class="row">
                            <button class="button button-block more-item" ng-click="seeMore(0)" ng-show="item.links.length > 3" type="submit">See all ({{ news.links.length }})</button>
                        </div>
                    </div>
                </div>

                <!-- <div id="excerpt" class="hide">
                    <div class="content element">
                        <h1>About {{ news.title }}</h1>
                        <div class="col">{{ news.about }}</div>
                    </div>
                </div> -->
            </div>
        </ion-content>
    </div>
</ion-view>
