<ion-view hide-nav-bar="true" class="landing bg-welzen">
  <ion-header-bar align-title="center" class="header header--no-border header--transparent">
    <div class="logo"><img src="img/logo-app.png"/></div>
  </ion-header-bar>
  <div class="container">
    <!--<p class="sub-title">Mindfulness Tools On The Go</p>-->
    <!--<h2 class="landing__title">Your path to a happier life</h2>-->
    <!--<div class="characters"><img src="img/characters.png"/></div>-->
    <h2 class="landing__title">Your path to a happier life</h2>
    <ion-slide-box show-page="true">
      <ion-slide>
        <img src="img/stress-1.png" class="character" />
        <h1 class="title">Manage Stress</h1>
      </ion-slide>

      <ion-slide>
        <img src="img/anxiety-1.png" class="character" />
        <h1 class="title">Reduce Anxiety</h1>
      </ion-slide>

      <ion-slide>
        <img src="img/focus-1.png" class="character" />
        <h1 class="title">Increase Focus</h1>
      </ion-slide>


      <ion-slide>
        <img src="img/creativity-1.png" class="character" />
        <h1 class="title">Enhance Creativity</h1>
      </ion-slide>


      <ion-slide>
        <img src="img/relationships-1.png" class="character" />
        <h1 class="title">Improved Relationships</h1>
      </ion-slide>
    </ion-slide-box>
  </div>
  <ion-footer-bar class="bg-clear footer">
    <a class="button button-block button-calm cta footer__cta" href='#/signup'>Get Started</a>
    <a class="button button-block button-clear footer__last" href='#/login'>Already a member? Sign In</a>
  </ion-footer-bar>
</ion-view>
