<ion-content class="onboard_content" scroll="false">
    <div class="onboard_page">

        <div class="onboard_title">
            Now you're looking shiny, <br/>time to show you how to be a <br/>ninja master
        </div>

        <div class="onboard_image" style="padding-top:60px;">

            <img src="img/onboard-ctm-04.png" width="70%" style="max-width: 350px !important;"/>
        </div>
    </div>
    <div class="onboard_btndiv">
        <button class="button button-onboard-balanced button-block" ng-click="goOnboard(6)">BRING IT</button>
    </div>
</ion-content>