<ion-content class="onboard_content" scroll="false">
    <div class="onboard_page">

        <div class="onboard_title">
            Great! Now let's turn on <br/>push notifications
        </div>
            <div class="onboard_descript">
            We need these to tell you when your ninja is close and other things. So when your phone asks you for permission, please say OK
        </div>
        <div class="onboard_image" style="padding-left:15px;">
            <img src="img/onboard-ctm-03.png" width="98%" class="onboard_image_110p"/>
        </div>
    </div>
    <div class="onboard_btndiv">
        <button class="button button-onboard-balanced button-block" ng-click="goOnboard(5)">ALRIGHT THEN</button>
    </div>
</ion-content>