<ion-content class="onboard_content" scroll="false">
    <div class="onboard_page">

        <div class="onboard_title">
            Awesome! Now you're ready to start hiring ninjas
        </div>

        <div class="onboard_image" style="padding-top:80px;">
            <img src="img/onboard-ctm-06.png"/>
        </div>
    </div>
    <div class="onboard_btndiv">
        <button class="button button-onboard-balanced button-block" ng-click="goMain()">LET'S DO THIS</button>
    </div>
</ion-content>