  <ion-content class="onboard_content" scroll="false">
    <div class="onboard_page">

      <div class="onboard_title">
          Hey there!
      </div>
      <div class="onboard_descript">
        Before you amass your army of ninjas, <br/>let's get your venue setup <br/>and show you the ropes
      </div>
        <div class="onboard_image">
            <img src="img/onboard-ctm-01.png" width="80%" style="max-width: 350px;"/>
        </div>
    </div>
      <div class="onboard_btndiv">
          <button class="button button-onboard-balanced button-block" ng-click="goOnboard(2)">LET'S DO THIS</button>
      </div>
  </ion-content>


