<ion-modal-view class="touchpoint premium premium-complete popoverr">

  <ion-content class="filter-popover">

    <div class="box">

      <h1>{{ 'ACCOUNT_UPGRADE_COMPLETE_POPUP_HEADER' | translate}}</h1>
      <p>
        {{ 'ACCOUNT_UPGRADE_COMPLETE_POPUP_CONTENT' | translate}}: <a href="mailto:info@thinkpacifica.com" style="text-decoration: none; color: #5ce59d;">info@thinkpacifica.com</a>.
      </p><br>
   
      <button ng-click="closeThankYouModal()" class="button-start">
        {{ 'OK_GOT_IT' | translate }}
      </button>
    </div>
  </ion-content>
</ion-modal-view>