/* line 5, feed.scss */
.feed .scroll-refresher {
  top: -10px;
}
/* line 10, feed.scss */
.feed .empty-list button {
  color: #ad252a;
}

/* line 17, feed.scss */
.page-feed .bar-header {
  padding: 0;
}
/* line 20, feed.scss */
.page-feed .bar-header .logo-title {
  margin: 5px auto 0;
}
/* line 24, feed.scss */
.page-feed .bar-header .button {
  overflow: hidden;
  width: 50px;
  height: 50px;
}
/* line 29, feed.scss */
.page-feed .bar-header .button img {
  height: 56px;
  position: relative;
  top: -6px;
  left: -6px;
}
/* line 41, feed.scss */
.page-feed .bar-header .title + .button:last-child {
  top: 0;
  right: 5px;
  bottom: 0;
}
