<ion-view title="Settings">
	<ion-content scroll="true" padding="false">
		<div class="setting-group">
			<button class="button button-block button-list">APP Version 1.5.0</button>
		</div>

		<div class="setting-group">
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="goto_notification_control()">Notification Control</button>
		</div>

		<div class="setting-group">
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="share_with_friends()">Invite Friends</button>
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="rate_this_app()">Rate App</button>
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="like_us_on_facebook()">Facebook</button>
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="follow_us_on_twitter()">Twitter</button>
		</div>

		<div class="setting-group">
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="open_faq()">FAQ</button>
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="send_us_feedback()">Feedback</button>
		</div>

		<div class="setting-group">
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="open_aboutus()">About Us</button>
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="open_pp()">Privacy Policy</button>
			<button class="button button-block button-list ion-ios-arrow-right" ng-click="open_eula()">Term of Use</button>
		</div>

		<div class="setting-group">
			<button class="button button-block button-list" ng-click="logout()">Logout</button>
		</div>

	</ion-content>
</ion-view>