<div class="iphone-status-bar"></div>
<ion-view title="Me" hide-nav-bar="false">
    <ion-nav-buttons side="secondary">
        <button class="button-profile-gear ion-gear-a" ui-sref="tab.me_setttings"></button>
    </ion-nav-buttons>

    <ion-content class="me-profile_wrapper" scroll="true" padding="false">

        <div class="gamer-profile">
            <div class="gamer-profile_main" ui-sref="tab.me_editprofile">
                <div class="gamer-profile_avatar">
                    <img class="gamer_avatar-list" ng-src={{data.gamer_profile_pic_link}}>
                </div>
                <div class="gamer-profile_brief gamer-profile_brief--icon-right ion-ios-arrow-right">
                    <p class="gamer-profile_name">{{data.gamer.name}}</p>
                    <p class="gamer-profile_city ion-location">{{data.gamer.city}}</p>
                    <p class="gamer-profile_description" ng-if="data.gamer.description!=null">{{data.gamer.description}}</p>
                </div>
            </div>
            <div class="button-multi">
                <button class="button button-primary button-multi_item ion-person" ng-click="goto_gamer_gamemetrics_by_type('favourite', 'me')">
                    Favourites
                </button>
                <button class="button button-primary button-multi_item ion-card" ui-sref="tab.me_wallet">My
                    Wallet
                </button>
            </div>
        </div>

        <div class="gamer_data gamer_data-gamer-profile">
            <a class="data_box-gamer-profile" ng-click="goto_gamer_gamemetrics_by_type('rate', 'me')">
                <div class="data_num">
                    <ul class="data_star-{{ data.rate_score }}">
                        <li class="data_star"></li>
                        <li class="data_star"></li>
                        <li class="data_star"></li>
                        <li class="data_star"></li>
                        <li class="data_star"></li>
                    </ul>
                </div>
                <p class="data_text"><span class="data_highlight">{{ data.gamer.rate_score }}</span> ({{ data.gamer.rate_count }} <i class="ion-person"></i>)
                </p>
            </a>
            <a class="data_box-gamer-profile" ng-click="goto_gamer_gamemetrics_by_type('sold', 'me')">
                <p class="data_num">{{data.gamer.sold_count}}</p>

                <p class="data_text">Sold</p>
            </a>
            <a class="data_box-gamer-profile" ng-click="goto_gamer_gamemetrics_by_type('bought', 'me')">
                <p class="data_num">{{data.gamer.bought_count}}</p>

                <p class="data_text">Bought</p>
            </a>
        </div>

        <div class="gamer-profile_tabs tabs-style-iconbox">

            <nav class="tabs_nav tabs_nav--has-3-tabs">
                <ul class="tabs_list-group">
                    <li class="tabs_list">
                        <a class="tabs_item" ng-class={'tab-current':data.offer_tab_active}
                           ng-click="decide_shown_list('sell')">
                            <span>For Sale {{data.gamer.sell_count+data.gamer.hide_count}}</span>
                        </a>
                    </li>
                    <li class="tabs_list">
                        <a class="tabs_item" ng-class={'tab-current':data.wish_tab_active}
                           ng-click="decide_shown_list('buy')">
                            <span>Wish list {{data.gamer.buy_count}}</span>
                        </a>
                    </li>
                    <li class="tabs_list">
                        <a class="tabs_item" ng-class={'tab-current':data.own_tab_active}
                           ng-click="decide_shown_list('have')">
                            <span>Own {{data.gamer.have_count}}</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div ng-if="data.offer_tab_active">
                <div class="intro intro-small" ng-if="data.sell_placeholderpic_flag">
                    <img class="intro_graphic" src="img/graphics/controllers/nintendo-wii.png"
                         alt="Start trading video games on GBG">

                    <p class="intro_tips">{{data.collection_by_gamer_message}}</p>
                </div>
                <ion-list>
                    <ion-item class="item game-list" ng-click="goto_game_profile_by_tab(collection.game_id, 'me')"
                              collection-repeat="collection in data.collections | orderBy:['-updated_on']">
                        <div class="game-list-thumbnail">
                            <img ng-src="{{collection.picture}}">
                        </div>
                        <div class="game-list_game-info">
                            <h2 class="game-list_game-title">{{collection.title}}</h2>
                            <p class="game-list_game-platform" ng-if="collection.collect_format != 'console'">{{collection.platform}} | {{collection.collect_format_message}}</p>
                            <p class="game-list_game-platform" ng-if="collection.collect_format == 'console'">{{collection.platform}}</p>
                            <p class="game-list_game-deal">
                                <i class="gbg-currency"><img src="img/icons/dollar.svg" alt="GBG Currency"></i>
	                        <span class="game-list_game-price">
	                            {{collection.price_sell}}
	                            <span class="game-list_price-unit">{{collection.price_unit}}</span>
	                        </span>
                            </p>

                            <p class="deals-list_status ion-ios-information-outline deals-list_update-alart">
                                {{collection.collect_as_message}}</p>
                        </div>
                </ion-list>
                <ion-infinite-scroll
                        ng-if="data.collections_there_is_more"
                        on-infinite="load_more_collections()"
                        distance="0%">
                </ion-infinite-scroll>
            </div>
            <!-- /content -->

            <div ng-if="data.wish_tab_active">
                <div class="intro intro-small" ng-if="data.wish_placeholderpic_flag">
                    <img class="intro_graphic" src="img/graphics/controllers/psp.png"
                         alt="Start trading video games on GBG">

                    <p class="intro_tips">{{data.collection_by_gamer_message}}</p>
                </div>
                <ion-list>
                    <ion-item class="item game-list" ng-click="goto_game_profile_by_tab(collection.game_id, 'me')"
                              ng-repeat="collection in data.collections | orderBy:['-updated_on']">
                        <div class="game-list-thumbnail">
                            <img ng-src="{{collection.picture}}">
                        </div>
                        <div class="game-list_game-info">
                            <h2 class="game-list_game-title">{{collection.title}}</h2>

                            <p class="game-list_game-platform">{{collection.platform}}</p>
                        </div>
                </ion-list>
                <ion-infinite-scroll
                        ng-if="data.collections_there_is_more"
                        on-infinite="load_more_collections()"
                        distance="0%">
                </ion-infinite-scroll>
            </div>
            <!-- /content -->

            <div ng-if="data.own_tab_active">
                <div class="intro intro-small" ng-if="data.own_placeholderpic_flag">
                    <img class="intro_graphic" src="img/graphics/controllers/wii-u.svg"
                         alt="Start trading video games on GBG">

                    <p class="intro_tips">{{data.collection_by_gamer_message}}</p>
                </div>
                <ion-list>
                    <ion-item class="item game-list" ng-click="goto_game_profile_by_tab(collection.game_id, 'me')"
                              ng-repeat="collection in data.collections | orderBy:['-updated_on']">
                        <div class="game-list-thumbnail">
                            <img ng-src="{{collection.picture}}">
                        </div>
                        <div class="game-list_game-info">
                            <h2 class="game-list_game-title">{{collection.title}}</h2>

                            <p class="game-list_game-platform">{{collection.platform}}</p>
                        </div>
                </ion-list>
                <ion-infinite-scroll
                        ng-if="data.collections_there_is_more"
                        on-infinite="load_more_collections()"
                        distance="0%">
                </ion-infinite-scroll>
            </div>
            <!-- /content -->

        </div>
        <!-- /tabs -->

    </ion-content>
</ion-view>