<ion-tabs class="tabs-icon-top">

  <!-- Nearme Tab -->
  <ion-tab title="Near Me" icon="icon ion-location" href="#/tab/nearme">
    <ion-nav-view name="tab_nearme"></ion-nav-view>
  </ion-tab>

  <!-- Deals Tab -->
  <ion-tab title="Trade" icon="icon ion-arrow-swap" href="#/tab/deals">
    <ion-nav-view name="tab_deals"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Post Ad" icon="icon ion-plus" href="#/tab/search">
    <ion-nav-view name="tab_search"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon="icon ion-chatbubbles" href="#/tab/chats">
    <ion-nav-view name="tab_chats"></ion-nav-view>
  </ion-tab>

  <!-- Me Tab -->
  <ion-tab title="Me" icon="icon ion-person" href="#/tab/me">
    <ion-nav-view name="tab_me"></ion-nav-view>
  </ion-tab>

</ion-tabs>