<!-- this is get connected content -->
<ion-view view-title="Connect">
  <ion-content class="padding scroll-bg">
<div class="transparent-back">
    <div class="item item-divider">
      Be The Next Energy Warrior
    </div>

    <div class="list card">
      <div class="item item-body">
          <h2 id="connect-header">Here's what you have to do:</h2>

          <section>
            <ul class="my-list">
              <li class="connect-list-items">To see what's next for Energy Warrior, visit us
            <a class="connect" href="#" onClick="window.open('http://greenfleet.dodlive.mil/energy/energywarrior/','_blank','location=no');return false;">online</a>
              </li>
              <li class="connect-list-items">Connect with us on:<br>
                <a class="connect" href="#" onClick="window.open('https://twitter.com/navalenergy','_blank','location=no');return false;"><i class="icon ion-social-twitter"></i>
                Twitter
                </a>
                 |
                 <a class="connect" href="#" onClick="window.open('https://www.facebook.com/NavalEnergy','_blank','location=no');return false;"><i class="icon ion-social-facebook">    </i>
                     <span>Facebook</span>
                  </a>
                  <!-- |
                  <a class="connect" href="#" onClick="window.open('https://www.youtube.com/playlist?list=PLDQ1SztOjkOmfrTw7Pgt8sP_bmyT9Xlvr','_blank','location=no');return false;"><i class="icon ion-social-youtube">    </i>
                      <span>YoutTube</span>
                   </a> -->
                </li>
              <li class="connect-list-items">Connect with Energy Warrior on <a class="connect" href="#" onClick="window.open('https://www.milsuite.mil/','_blank','location=no');return false;">milSuite</a> (CAC enabled discussion site)</li>
              <li class="connect-list-items" >Or simply <b ng-click="sendEmail()">email</b> us at: <div class=connect>EnergyWarrior@navy.mil</li></div>
            </ul></div>
          </section>
        </div>

    </div>

      <div class="dyk-fact">
    <h5 class="connect-title"> Energy Dependence Ends Today.
      We want to hear from you!</h5>
  </div>

    <!-- Social share links NOTE: these load faster as ionic iocons then using the png images-->
    <!-- <ion-item nav-clear menu-close ><div class="connect-social">
      <a class="connect" href="#" onClick="window.open('http://greenfleet.dodlive.mil/energy/energywarrior/','_blank','location=no');return false;">
        <i class="icon ion-social-facebook">    </i>
        <span>Facebook</span>
      </a>|

      <a  class="connect" href="#" onClick="window.open('https://twitter.com/navalenergy','_blank','location=no');return false;">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>|

      <a class="connect" href="#" onClick="window.open('https://www.youtube.com/playlist?list=PLDQ1SztOjkOmfrTw7Pgt8sP_bmyT9Xlvr','_blank','location=no');return false;">
        <i class="icon ion-social-youtube"></i>
        YouTube
      </a></div>

    </ion-item> -->


  </ion-content>

</ion-view>
