<ion-view class="bg-welzen unlock" view-title="Billing Details">
  <ion-header-bar align-title="center" class="header">
    <a class="header__back-button" ng-click="goBack(-1)"><img src="img/btn-back.png"/></a>
    <h1 class="title">Billing Details</h1>
    <a class="header__close-button" ui-sref='main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

    <ion-content has-bouncing="true">
      <div class="container">
        <div class="terms">
          <p>To ensure uninterrupted service, Welzen subscriptions are revewed automatically, using the credit card on file except for Corporate Connected accounts.</p>
          <p>Annual subscriptions are billed in one payment at the time of purchase, and automatically renewed at the end of the initial term, at the rate secured at the time of purchase.</p>
          <p>Please note that if you purchase a subscription through the iTunes Store or  our iPhone Application, the sale is final, and we will not provide a refund. Your purchase will be subject to Apple’s applicable payment policy, which also may not provide for refunds</p>
        </div>
      </div>
    </ion-content>
</ion-view>
