<ion-modal-view class="touchpoint popoverr choose-avatar">
  <ion-content>
    <a href="javascript:;" ng-click="closeAvatarModal()" class="go-back">X</a>

    <h1>{{ 'AVATAR' | translate }}</h1>

    <div class="avatar_a avatar {{isAvatarSelected('a') ? 'selected' : ''}}" ng-click="setUserAvatar('a')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_b avatar {{isAvatarSelected('b') ? 'selected' : ''}}" ng-click="setUserAvatar('b')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_c avatar {{isAvatarSelected('c') ? 'selected' : ''}}" ng-click="setUserAvatar('c')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_d avatar {{isAvatarSelected('d') ? 'selected' : ''}}" ng-click="setUserAvatar('d')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_e avatar {{isAvatarSelected('e') ? 'selected' : ''}}" ng-click="setUserAvatar('e')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_f avatar {{isAvatarSelected('f') ? 'selected' : ''}}" ng-click="setUserAvatar('f')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_g avatar {{isAvatarSelected('g') ? 'selected' : ''}}" ng-click="setUserAvatar('g')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_h avatar {{isAvatarSelected('h') ? 'selected' : ''}}" ng-click="setUserAvatar('h')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_i avatar {{isAvatarSelected('i') ? 'selected' : ''}}" ng-click="setUserAvatar('i')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_j avatar {{isAvatarSelected('j') ? 'selected' : ''}}" ng-click="setUserAvatar('j')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_k avatar {{isAvatarSelected('k') ? 'selected' : ''}}" ng-click="setUserAvatar('k')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_l avatar {{isAvatarSelected('l') ? 'selected' : ''}}" ng-click="setUserAvatar('l')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_m avatar {{isAvatarSelected('m') ? 'selected' : ''}}" ng-click="setUserAvatar('m')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_n avatar {{isAvatarSelected('n') ? 'selected' : ''}}" ng-click="setUserAvatar('n')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_o avatar {{isAvatarSelected('o') ? 'selected' : ''}}" ng-click="setUserAvatar('o')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_p avatar {{isAvatarSelected('p') ? 'selected' : ''}}" ng-click="setUserAvatar('p')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_q avatar {{isAvatarSelected('q') ? 'selected' : ''}}" ng-click="setUserAvatar('q')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_r avatar {{isAvatarSelected('r') ? 'selected' : ''}}" ng-click="setUserAvatar('r')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_s avatar {{isAvatarSelected('s') ? 'selected' : ''}}" ng-click="setUserAvatar('s')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_t avatar {{isAvatarSelected('t') ? 'selected' : ''}}" ng-click="setUserAvatar('t')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_u avatar {{isAvatarSelected('u') ? 'selected' : ''}}" ng-click="setUserAvatar('u')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_v avatar {{isAvatarSelected('v') ? 'selected' : ''}}" ng-click="setUserAvatar('v')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_w avatar {{isAvatarSelected('w') ? 'selected' : ''}}" ng-click="setUserAvatar('w')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_x avatar {{isAvatarSelected('x') ? 'selected' : ''}}" ng-click="setUserAvatar('x')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_y avatar {{isAvatarSelected('y') ? 'selected' : ''}}" ng-click="setUserAvatar('y')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
    <div class="avatar_z avatar {{isAvatarSelected('z') ? 'selected' : ''}}" ng-click="setUserAvatar('z')" style="position:relative"><img src="img/avatar/icon-pacifica.png" /></div>
  </ion-content>
</ion-modal-view>