<ion-view id="groupPosts" class="community-board">

  <!-- Because of the dynamic nature of loading communities, this cannot be in the title attribute. -->
  <ion-nav-title>
     {{getCommunityName()}}
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <a href="javascript:;" ng-click="showCreatePost()"><button class="button button-clear icon ion-ios-compose-outline"></button></a>
  </ion-nav-buttons>

  <div class="back is-white"></div>
  <div class="community-tabs">
    <a href="javascript:;" ng-click="showTop()" class="community-tab" ng-class="{active: order == 'hotness'}">{{ 'HOT' | translate }}</a>
    <a href="javascript:;" ng-click="showNew()" class="community-tab" ng-class="{active: order == 'date'}">{{ 'NEW' | translate }}</a>
    <a href="javascript:;" ng-click="showAllTime()" class="community-tab" ng-class="{active: order == 'score'}">{{ 'TOP' | translate }}</a>
  </div> 
  <ion-content> 

    <div ng-show="!loadingPosts && !loadingGroup">
      <ion-refresher
        pulling-text="{{ 'PULL_TO_RELOAD_TEXT' | translate }}"
        on-refresh="reloadCommunityPosts()">
      </ion-refresher>
    </div>


      <!--<i class="icon ion-loading-d icon-refreshing"></i>-->

    <div ng-if="loadingPosts || loadingGroup" class="loading">
      <ion-spinner class="icon-refreshing"></ion-spinner>
    </div>


    <div ng-if="!loadingPosts && !loadingGroup" class="community-posts">

      <div ng-if="!groupPosts || groupPosts.length == 0">
        <h2 class="quote">{{ 'COMMUNITY_EMPTY' | translate }}</h2>
      </div>

      <div ng-repeat="post in groupPosts" ng-if="groupPosts && groupPosts.length > 0" class="post" ng-click="showMore(post)">
        <div class="{{getPostAvatar(post)}} avatar" ng-click="viewUserProfile($event, post)"></div>
        <span ng-class="{notify: hasPostNotification(post.id)}" class="author"><strong ng-click="viewUserProfile($event, post)">{{getPostCreatorNickname(post)}}</strong><br>{{getPostDate(post)}}</span>
        <div ng-bind-html="getPostTitle(post)"></div>
        <div class="community-actions-wrapper clearfix">

        <a ng-if="!hasVote(post)" href="javascript:;" ng-click="voteUp($event, post)" class="row-options"><i class="icon ion-ios-heart-outline"></i><span class="tiny-label">{{post.score}}</span></a>
        <a ng-if="hasVote(post)" href="javascript:;" ng-click="removeVote($event, post)" class="row-options"><i class="icon ion-ios-heart"></i><span class="tiny-label"><b>{{post.score}}</b></span></a>

        <a href="javascript:;" ng-click="showMore(post)" class="row-options"><i class="icon ion-ios-chatbubble-outline"></i><span class="tiny-label">{{post.comments}}</span></a>

        <a href="javascript:;" ng-click="sharePost($event, post)" class="row-options"><i class="icon ion-ios-redo-outline"></i><span class="tiny-label">{{ 'SHARE' | translate }}</span></a>

        <a href="javascript:;" ng-click="showReportPost($event, post)" ng-if="!isPostOwner(post)" class="row-options"><i class="icon ion-ios-flag-outline"></i><span class="tiny-label">{{ 'REPORT' | translate }}</span></a>

        <a href="javascript:;" ng-click="addExperiment($event, post)" ng-if="showAddExperiment(post)" class="row-options"><i class="icon ion-ios-bolt-outline"></i><span class="tiny-label">{{ 'COPY' | translate }}</span></a>

        <a href="javascript:;" ng-click="deletePost($event, post)" ng-if="isPostOwner(post)" class="row-options"><i class="icon ion-ios-trash-outline"></i><span class="tiny-label">{{ 'DELETE' | translate }}</span></a>

        <a href="javascript:" class="more-options"><i class="icon ion-ios-arrow-right" style="font-size: 30px;"></i></a>
        </div>

      </div>

      <div ng-if="canLoadMore && groupPosts && groupPosts.length > 0" class="load-more">
        <a href="javascript:;" ng-click="loadMoreGroupsPosts()">{{ 'LOAD_MORE' | translate }}</a>
      </div>
      <div ng-if="!canLoadMore && groupPosts && groupPosts.length > 0" class='load-more'>
        <em>{{ 'LOAD_EMPTY' | translate }}</em>
      </div>

    </div>
    
  </ion-content>
</ion-view>