<div class="modal" ng-controller="AddProductToOrderSearchController as viewModel" >
    <ion-header-bar class="bar-stable">
        <h1 class="title">Add Product</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="cancelSearch()"><i class="icon ion-ios-close-empty"></i></button>
        </div>
    </ion-header-bar>
    <ion-search-bar search-function="searchSubmit()" search-value="viewModel.search.searchQuery" placeholder="Search All Products"></ion-search-bar>
    <ion-content id="subSearchItemModalIonContent" on-scroll="viewModel.onScroll()" class="has-header has-search-bar" has-bouncing="true" >
        <div  cg-busy="{promise:myPromise,templateUrl:'templates/searchLoading.html'}">
            <div>
                <ion-item collection-repeat="product in viewModel.searchResults"
                          class="text-center item-product-item"
                          collection-item-width="viewModel.getItemWidth()"
                          collection-item-height="'212px'"
                          force-refresh-images="true"
                          item-render-buffer="6"
                          ng-disabled="viewModel.productInCart(product)"
                          ng-class="product.addButton ? 'item-stable item-no-border' : ''"
                          ng-click="viewModel.productClick(product)">
                    <div ng-if="!product.addButton" class="product-inside-box">
                        <div class="detail-img-wrapper">
                            <img class="img-products-list" ng-src="{{product.images[0].url}}" />
                        </div>
                        <div ng-if="product.on_sale" class="corner-ribbon top-left sticky sale"><small>sale</small></div>
                        <!--subtract number from cart-->
                        <button class="button button-large button-clear button-positive product-item-button minus"  ng-if="productInCart(product)"  stop-event="click" ng-click="removeItemProductToOrder(product)">
                            <i class="icon ion-ios-minus-empty" ></i>
                        </button>
                        <button class="button button-large button-clear button-positive product-item-button plus"  stop-event="click" ng-click="addItemProductToOrder(product)">
                            <i class="icon ion-ios-plus-empty"></i>
                        </button>
                        <span ng-if="viewModel.productInCart(product)" class="badge badge-positive product-grid-cart-count-badge">
                            <span ng-if="product.product_type == 'by weight'">
                                {{orderLineCountForProduct(product)}} in order
                            </span>
                            <span ng-if="product.product_type != 'by weight'">
                                {{orderLineCountForProduct(product) | number:0}} in order
                            </span>
                        </span>

                        <p class="wrap grid-product-name" ng-class="product.on_sale ? 'grid-product-name-sale':''">
                            {{product.brand_name}} {{product.name}}
                        </p>
                        <div class="grid-product-info">
                            <p ng-if="product.product_type == 'normal'">
                                {{product.size}}
                            </p>
                            <p>
                                <span ng-class="product.on_sale ? 'strike-through':''">{{viewModel.getPrice(product)}} </span>
                                <br ng-if="product.on_sale">
                                <span class="positive" ng-if="product.on_sale">{{viewModel.getSalePrice(product)}} </span>
                                <span class="energized" ng-if="product.product_type == 'by weight'">{{product.size}}</span>
                            </p>
                        </div>
                    </div>
                    <div ng-if="product.addButton" class="center-content add-special-item">
                        <div class="detail-img-wrapper">
                            <h1>
                                <i class="icon ion-ios-plus-empty dark"></i>
                            </h1>
                        </div>
                        <p class="light-weight">Add Special Request</p>
                    </div>
                </ion-item>
            </div>
        </div>
    </ion-content>
</div>

<script id="templates/searchLoading.html" type="text/ng-template">
    <div class="cg-busy-default-wrapper">
        <div class="cg-busy-default-sign">
            <br/>
            <ion-spinner></ion-spinner>
            <div class="text-center">Searching...</div>
        </div>
    </div>
</script>
