<ion-view class="bg-welzen science" view-title="The Science">

  <ion-header-bar align-title="center" class="header">
    <h1 class="title">The Science</h1>
    <a class="header__close-button" href='#/main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

  <div class="container">
    <ion-slide-box show-page="true">

      <ion-slide>
        <h1 class="title">Stress Reduction</h1>
        <p class="description">Research shows that mindfulness meditation decreases the levels of the stress hormone “cortisol”, fortifying a sense of calmness throughout the nervous system and the brain.</p>
        <img src="img/stress-1.png" class="character" />
      </ion-slide>

      <ion-slide>
        <h1 class="title">Manage Anxiety</h1>
        <p class="description">Studies indicate that Mindfulness meditation reduces the grey-matter density in areas of the brain related to anxiety, concluding to be as effective as antidepressants.</p>
        <img src="img/anxiety-1.png" class="character" />
      </ion-slide>

      <ion-slide>
        <h1 class="title">Improve Focus</h1>
        <p class="description">Studies have shown that Mindfulness meditation practitioners have significantly better ability to focus attention and suppress distracting information.</p>
        <img src="img/focus-1.png" class="character" />
      </ion-slide>


      <ion-slide>
        <h1 class="title">Increase Creativity</h1>
        <p class="description">Cognitive Psychology studies have demonstrated that Mindfulness meditation develops divergent thinking, a primary driver of creativity and innovation.</p>
        <img src="img/creativity-1.png" class="character" />
      </ion-slide>


      <ion-slide>
        <h1 class="title">Improved Relationships</h1>
        <p class="description">Studies suggest that Mindfulness meditation practitioners have greater empathy and compassion, and feel more satisfied with their personal relationships.</p>
        <img src="img/relationships-1.png" class="character" />
      </ion-slide>


    </ion-slide-box>
  </div>
</ion-view>
