<ion-modal-view class="modal-view auth-view auth-outer edit-profile-modal forgot-password-view">
    <ion-header-bar>
        <h1 class="title modal-title">Change Password</h1>
        <a class="button button-clear" ng-click="cancelChangePassword()">Cancel</a>
    </ion-header-bar>
    <ion-content class="">
        <ion-spinner ng-if="data.loading" class="spinner-on-load"></ion-spinner>
        <div class="row form-wrapper">
            <div class="col">
                <form name="passwordForm" novalidate ng-submit="confirmPasswordChange(passwordForm)">
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input" show-hide-container>
                            <input type="password" placeholder="{{'CURRPASS' | translate}}" name="password"
                                   ng-model="data.password" ng-minlength="8" required show-hide-input>
                        </label>
                        <label class="item item-input" show-hide-container>
                            <input type="password" placeholder="{{'NEWPASS' | translate}}" name="newPassword"
                                   ng-model="data.newPassword" ng-minlength="8" required show-hide-input>
                        </label>
                    </div>
                    <a class="login-action" ng-click="forgotPassword()"
                       ng-class="{'pseudo-disabled':passwordForm.$invalid}">
                        {{'FORGOTPASS' | translate}}
                    </a>
                    <p ng-if="error" class="message error">{{error}}</p>
                    <div class="error-container"
                         ng-if="(passwordForm.newPassword.$error.minlength || data.newPassword.$invalid || data.incorrectPassword || passwordForm.password.$invalid || data.errorMessage || passwordForm.newPassword.$error.required || passwordForm.password.$error.required) && passwordForm.submitted">
                        <small class="message error"
                               ng-if="data.incorrectPassword || passwordForm.password.$error.required">
                            {{'CURRPASSINC' | translate}}
                        </small>
                        <small class="message error"
                               ng-if="passwordForm.newPassword.$error.minlength || passwordForm.newPassword.$error.required">
                            {{'NEWPASSMUST' | translate}}
                        </small>
                        <small class="message error"
                               ng-if="data.errorMessage">
                            {{data.errorMessage}}
                        </small>
                    </div>
                    <button type="submit" class="sign-up button button-block" ng-disabled="passwordForm.$invalid">
                        {{'CHANGEPASS' | translate}}
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
