<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive footer-tab">

  <!-- Home Tab -->
  <ion-tab title="" icon-off="home" icon-on="home-active" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Stream Tab -->
  <ion-tab title="" icon-off="stream" icon-on="stream-active" href="#/tab/stream">
    <ion-nav-view name="tab-stream"></ion-nav-view>
  </ion-tab>

  <!-- Saved Tab -->
  <ion-tab title="" icon-off="saved" icon-on="saved-active" href="#/tab/saved" class="saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="" icon-off="search" icon-on="search-active" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- More Tab -->
  <ion-tab title="" icon-off="more" icon-on="more-active" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>
