<ion-view view-title="{{ title }}">
    
    <ion-nav-buttons side="right">
        <button class="btn-link" ng-click="shareArticle('{{ articleDetail.articleSlug }}')">Share <span class="ion-ios-redo-outline"></span></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-text="Reload..." on-refresh="doReloadArticle()">
        </ion-refresher>

        <div class="article-pick-wrapper article-wrapper plain-background">
            <div class="row banner-wrapper">
                <div class="col banner">
                    <img image-lazy-loader="article" image-lazy-src="{{ articleDetail.articleFeaturedImage }}" />
                </div>
            </div>
            <div class="row detail-wrapper">
                <div class="col category">
                    <span ng-repeat="cat in articleDetail.articleCategories">
                        <button class="btn btn-link-small link-13">{{ cat.category }}</button><span class="divider" ng-show="cat.displayDivider">|</span>
                    </span>
                </div>
            </div>
            <div class="row detail-wrapper">
                <div class="col article-headline">
                    {{ articleDetail.articleHeadline }}
                </div>
            </div>
            <div class="row detail-wrapper">
                <div class="col created-by">
                    By {{ articleDetail.articleCreatedBy }}
                </div>
            </div>
            <div class="row detail-wrapper" ng-show="displayItem">
                <div class="col summary" ng-bind-html="trustAsHtml(articleDetail.articleSummary) | hrefToJS">
                </div>
            </div>
            <div class="row" ng-show="articleDetail.hideArticle" style="text-align:center;">
                <div class="col summary">
                    <button class="btn-join" ng-click="openArticleWeb('{{articleDetail.articleLink}}')">Read complete story</button>
                </div>
            </div>
            <div class="row join-contest-wrapper" ng-show="articleDetail.artileIsContest">
                <div class="col summary" ng-show="!isJoined">
                    <button class="btn-join" ng-click="joinContest()">Join Contest</button>
                </div>
            </div>
        </div>

        <div class="loader-wrapper" ng-show="feedLoader">
            <ion-spinner class="spinner-android"></ion-spinner>
        </div>

        <ion-item class="photo-grid-stream-holder" ng-show="displayItem">
            <div class="row" ng-repeat="fd in feeds" ng-if="$index % 2 === 0">
                <div class="col col-50" ng-if="$index < feeds.length" ng-click="goToZoomIn('{{ feeds[$index].itemId }}')">
                    <img preload-image default-image="{{ feeds[$index].itemImagePH }}" ng-src="{{ feeds[$index].itemImage }}" />
                </div>
                <div class="col col-50" ng-if="$index + 1 < feeds.length" ng-click="goToZoomIn('{{ feeds[$index + 1].itemId }}')">
                    <img preload-image default-image="{{ feeds[$index + 1].itemImagePH }}" ng-src="{{ feeds[$index + 1].itemImage }}" />
                </div>
            </div>
        </ion-item>

        <div class="no-data-wrapper" ng-show="displayFeedEmpty">
            <div class="title">
                No photo yet!
            </div>
        </div>

    </ion-content>
</ion-view>