<ion-view class="auth-view auth-outer forgot-password-view">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{'BACK' | translate}}
        </ion-nav-back-button>
        <ion-nav-title>
            <span>{{'RESETYOURPASS' | translate}}</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="">
        <ion-spinner ng-if="data.loading" class="spinner-on-load"></ion-spinner>
        <div class="row related-copy">
            <div class="col">
                <h5>{{'ENTERPASS' | translate}}</h5>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="forgot_password_form" class="" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="email" placeholder="{{'EMAILADD' | translate}}" name="email"
                                   ng-model="user.email" required>
                        </label>
                    </div>
                    <button type="submit" class="sign-up button button-block" ng-click="requestNewPassword()"
                            ng-class="{'pseudo-disabled':forgot_password_form.$invalid}">
                        {{'RESETPASS' | translate}}
                    </button>
                    <p ng-if="error" class="message error">{{error}}</p>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
