<ion-view view-title="{{ 'shop.title_list_page' | i18n }}">
    <ion-nav-buttons side="right">
        <a class="button button-positive" href="#/app/menu/shop/search"><i class="icon ion-ios-search"></i></a>
    </ion-nav-buttons>
    <ion-content elastic-header="example-elastic-header" delegate-handle="example-scroller">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshUI()"></ion-refresher>
        <ion-slide-box id="example-elastic-header" show-pager="false" class="home-slider" does-continue="true" auto-play="true">
            <ion-slide ng-repeat="slide in data.slides">
                <a ng-href="{{::slide.link}}">
                    <img preload-image ng-src="{{::slide.image}}" default-image="app/shop/images/slide.png" fallback-image="app/shop/images/slide.png" />
                </a>
            </ion-slide>
        </ion-slide-box>

        <category-list thumbnail="true" mode="icons"></category-list>

        <ion-slide-box show-pager="false" class="home-slider" does-continue="true" auto-play="true">
            <ion-slide ng-repeat="slide in data.offers">
                <a ng-href="{{::slide.link}}">
                    <img preload-image ng-src="{{::slide.image}}" default-image="app/shop/images/slide.png" fallback-image="app/shop/images/slide.png" />
                </a>
            </ion-slide>
        </ion-slide-box>

        <ion-list class="recent-items-list">
            <div class="item item-divider" i18n="shop.featured_title"></div>
            <ion-slide-box show-pager="false" does-continue="true" auto-play="true">
                <ion-slide ng-repeat="item in data.featuredItems">
                    <ion-item>
                        <item-template item="item" mode="3"></item-template>
                    </ion-item>
                </ion-slide>
            </ion-slide-box>
        </ion-list>

        <div class="item item-divider item-button-right">
            <span i18n="shop.latest_title"></span>
            <button class="button button-stable button-outline button-no-outline"  ng-click="grid_mode = !grid_mode">
                <i class="icon" ng-class="{'ion-ios-grid-view-outline' : grid_mode, 'ion-ios-list-outline': !grid_mode}"></i>
            </button>
        </div>
        <div class="recent-items-list" ng-class="{'row grid_mode' : grid_mode, 'list': !grid_mode}">
            <div class="item" ng-repeat="item in data.latestItems" ng-class="{'col-50' : grid_mode}">
                <item-template item="item" mode="2"></item-template>
            </div>

            <ion-infinite-scroll ng-if="!endOfRecentItems" on-infinite="loadNextRecentPage()" distance="5%"></ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
