<ion-view>
	<ion-nav-title>{{categoryCtrl.category.name}}</ion-nav-title>
	<ion-pane>
		<ion-content>
			<ion-list>
				<ion-item class="category-ion-item" data-ui-sref="app.item({itemId: item.id})" data-ng-repeat="item in categoryCtrl.items track by $index">
					<div class="row row-wrap category-items">
            <div data-ng-if="item.img" class="category-item-image col col-33">
							<img data-ng-src="{{item.img}}" alt="{{item.title}}" />
						</div>
						<div class="category-item-tools col" data-ng-class="{'col-66' : item.img}">
							<h3 data-ng-bind-html="item.title|trustHtml"></h3>
							<div class="row">
								<div class="col col-40"><i class="icon ion-radio-waves"></i>{{item.source}}</div>
								<div class="col col-60 right-align item-category"><i class="icon ion-clock"></i>{{item.date | date:'MMM d, y'}}</div>
							</div>
						</div>
					</div>
				</ion-item>
			</ion-list>
			<ion-infinite-scroll ng-if="!categoryCtrl.noMoreItemsAvailable" on-infinite="categoryCtrl.loadData()" distance="10%"></ion-infinite-scroll>
		</ion-content>
	</ion-pane>
</ion-view>
