<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left" data-ng-if="appCtrl.showMenu"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" class="full-page-bckg-menu" data-ng-controller="PrimaryMenuController as menuCtrl">
		<ion-content>
			<ion-list>
				<ion-item menu-close data-ng-repeat="link in menuCtrl.menu track by $index" data-ui-sref="{{link.sref}}">
					{{link.title}}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
