<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Modal Window</h1>
        <button class="button modal-select-close-button" ng-click="appCtrl.closeModal()">Close</button>
	</ion-header-bar>

	<ion-content scroll="false">
		<ion-list>
		  <ion-item><a class="item-content">Item 0</a></ion-item>
		  <ion-item><a class="item-content">Item 1</a></ion-item>
		  <ion-item><a class="item-content">Item 2</a></ion-item>
		  <ion-item><a class="item-content">Item 3</a></ion-item>
		  <ion-item><a class="item-content">Item 4</a></ion-item>
		  <ion-item><a class="item-content">Item 5</a></ion-item>
		</ion-list>
	</ion-content>

</ion-modal-view>