<ion-view view-title="{{ title }}">
	<ion-nav-buttons side="right">
		<ion-spinner ng-show="blockDone" icon="ios-small"></ion-spinner>
		<button class="btn-link done-button" ng-show="!blockDone" ng-click="doUpdate()">
			<span class="ion-checkmark"></span> Done
		</button> 
	</ion-nav-buttons>


	<ion-content class="edit-profile-wrapper">
	    <div class="row body">
	      <div class="col more-wrapper">
	        <ion-item>
		      <div class="item-icon">
		        <span class="ion-locked"></span>
		      </div>
		      <div class="item-label">
		        <input type="password" class="form-control" placeholder="Current password" ng-model="users.currPassword">
		      </div>
		    </ion-item>
		    <ion-item>
		      <div class="item-icon">
		        <span class="ion-locked"></span>
		      </div>
		      <div class="item-label">
		        <input type="password" class="form-control" placeholder="password" ng-model="users.password">
		      </div>
		    </ion-item>
		    <ion-item>
		      <div class="item-icon">
		        <span class="ion-locked"></span>
		      </div>
		      <div class="item-label">
		        <input type="password" class="form-control" placeholder="New password, again" ng-model="users.cpassword">
		      </div>
		    </ion-item>
	      </div>
	    </div>
	</ion-content>

</ion-view>
