/* line 4, login.scss */
.page-login .bar-header {
  height: 75px !important;
  background: #ad252a;
  border: none;
}
/* line 9, login.scss */
.page-login .bar-header .title {
  top: 13px;
}
/* line 12, login.scss */
.page-login .bar-header .title img {
  width: 126px;
  height: 43px;
}
/* line 18, login.scss */
.page-login .bar-header .button {
  margin-top: 15px !important;
}
/* line 23, login.scss */
.page-login .has-header {
  top: 85px !important;
}
/* line 27, login.scss */
.page-login .padding-sf {
  margin: 0 20px;
}
/* line 31, login.scss */
.page-login .page-text {
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 16px;
  margin: 0px 20px 20px;
  color: #787878;
}
/* line 37, login.scss */
.page-login .page-text a {
  color: #b0252c;
}
/* line 42, login.scss */
.page-login .or-separator {
  position: relative;
  border-top: 2px dashed #d0d0d0;
  text-align: center;
  margin: 40px 15px 20px;
}
/* line 48, login.scss */
.page-login .or-separator span {
  position: relative;
  padding: 0 20px;
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 16px;
  background: #fff;
  top: -12px;
  color: #7a7a7a;
}
/* line 59, login.scss */
.page-login .double-field {
  border-radius: 5px;
  background: #dedee1;
  color: #969093;
  padding: 5px;
  margin-bottom: 20px;
}
/* line 66, login.scss */
.page-login .double-field .field {
  position: relative;
}
/* line 69, login.scss */
.page-login .double-field .field.invalid {
  padding-right: 35px;
}
/* line 72, login.scss */
.page-login .double-field .field.invalid .feedback {
  position: absolute;
  width: 25px;
  height: 100%;
  right: 5px;
  top: 0;
  background: transparent url("../images/ico-required-errorcheck.svg") center center no-repeat;
  background-size: 25px;
}
/* line 83, login.scss */
.page-login .double-field .field input {
  background: #dedee1;
  color: #969093;
  padding: 20px 10px;
  border-radius: 5px;
  font-family: HelveticaNeueROMAN, sans-serif;
  font-size: 16px;
  width: 100%;
}
/* line 92, login.scss */
.page-login .double-field .field input::-webkit-input-placeholder, .page-login .double-field .field input:-moz-placeholder, .page-login .double-field .field input::-moz-placeholder, .page-login .double-field .field input:-ms-input-placeholder {
  color: #969093;
}
/* line 101, login.scss */
.page-login .double-field .field-separator {
  border: 1px solid #fff;
  background: #fff;
  height: 2px;
  margin: 3px 10px;
}
/* line 109, login.scss */
.page-login .half-field {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
/* line 113, login.scss */
.page-login .half-field .field {
  position: relative;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
}
/* line 118, login.scss */
.page-login .half-field .field.invalid .feedback {
  position: absolute;
  width: 25px;
  height: 70%;
  right: 6px;
  bottom: 0;
  background: transparent url("../images/ico-required-errorcheck.svg") center center no-repeat;
  background-size: 25px;
}
/* line 129, login.scss */
.page-login .half-field .field.right-padding {
  margin-right: 20px;
}
/* line 133, login.scss */
.page-login .half-field .field label {
  color: #787878;
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 140, login.scss */
.page-login .half-field .field select, .page-login .half-field .field input {
  width: 100%;
  border-radius: 5px;
  font-family: HelveticaNeueROMAN, sans-serif;
  font-size: 16px;
  background: #dedee1;
  color: #969093;
  margin-top: 5px;
  border: none;
}
/* line 151, login.scss */
.page-login .half-field .field select {
  padding: 18px 10px;
}
/* line 154, login.scss */
.page-login .half-field .field select option {
  padding: 10px;
}
/* line 159, login.scss */
.page-login .half-field .field input {
  padding: 28px 10px;
}
/* line 165, login.scss */
.page-login .kana-button {
  background: #9aa7b2;
  color: #fff;
}
/* line 170, login.scss */
.page-login .make-it {
  background: #12ad60;
}
/* line 174, login.scss */
.page-login .facebook-connect {
  background: #3b5998;
}
/* line 178, login.scss */
.page-login .margin-top {
  margin-top: 15px;
}
