
<div class="modal simple-modal" ng-controller="TippingModalController as viewModel" >
    <ion-header-bar class="bar-stable">
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="viewModel.closeModal()" aria-label="close icon top right"><i class="icon ion-ios-close-empty" aria-hidden="true"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header" has-bouncing="true" >
        <div class="tip-buttons">
            <div class="text-center">
                <div class="selection-list">
                    <div class="section-title text-center">
                        <i class="icon ion-cash" aria-hidden="true"></i> Tip
                        </br>
                        <small class="faded text-center">
                            Tipping Available Until {{viewModel.tipUntilTimeString()}}
                        </small>
                    </div>
                    <div class="section-body tip-area">
                        <button ng-repeat="tipOption in viewModel.tipOptions"
                                ng-click="viewModel.selectTipOption(tipOption)"
                                ng-class="tipOption == viewModel.tipOption ? 'selected':''"
                                class="button section-item button-light button-full icon">
                            <i class="icon ion-checkmark-round" ng-show="tipOption == viewModel.tipOption" aria-hidden="true"></i>
                            {{tipOption.text}}
                        </button>

                        <label class="item item-input">
                            <span class="input-label">Other Tip Amount</span>
                            <input class="other-amount-input" ui-money-mask type="tel" ng-model="viewModel.otherTipAmount" placeholder="$ 0.00">
                        </label>
                    </div>
                </div>
                <div class="padding" ng-if="viewModel.otherAmount">
                    <button ng-click="viewModel.saveOtherAmount()" class="button button-positive button-clear">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</div>
