<ion-tabs class="tabs-icon-top tabs-assertive">

    <ion-tab title="Feature" icon="mdi mdi-home" ui-sref="app.video.feature">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Subscribe" icon="mdi mdi-television-guide" ui-sref="app.video.subscribe">
        <ion-nav-view name="subscribe-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Search" icon="mdi mdi-magnify" ui-sref="app.video.search">
        <ion-nav-view name="search-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>