@import "variables";

.modal-terms {

	.white-close-bar {
		background: #fff;

		.close {
			width: 44px;
			height: 44px;
			margin-left: auto;

			img {
				width: 50%;
				height: 50%;
			}
		}
	}

	.terms {
		padding: 20px;

		img {
			margin: 0 auto 20px;
			display: block;
		}

		h1 {
			font-family: HelveticaNeueBLK, sans-serif;
			font-size: 12px;
			color: #af252b;
			text-transform: uppercase;
			margin: 10px 0;
			letter-spacing: 2px;
		}

		> ol {
			list-style: decimal outside;

			> li {
				margin-left: 65px;
				margin-bottom: 30px;
				font-family: HelveticaNeueTH, sans-serif;
				font-size: 50px;
				color: #c6c5c5;

				h2 {
					font-family: HelveticaNeueTH, sans-serif;
					font-size: 35px;
					color: #c6c5c5;
					margin-left: -23px;
				}

				> ol {
					margin-left: -65px;
					list-style: upper-roman inside;

					li {
						font-family: HelveticaNeueTH, sans-serif;
						font-size: 14px;
						color: #7a7a7a;
						margin-bottom: 20px;

						h3 {
							font-family: HelveticaNeueTH, sans-serif;
							font-size: 14px;
							font-weight: bold;
							color: #7a7a7a;
						}
					}
				}
			}
		}

		&.privacy-terms {
			> ol {
				list-style-position: inside;

				> li {
					margin-left: 0;
					font-size: 25px;

					h2 {
						margin-left: 0;
						font-size: 16px;
					}

					> ol {
						margin-left: 0;
					}
				}
			}
		}
	}
}