<ion-view title="" hide-nav-bar="true" class="popoverr slideshow mood-help">
  <ion-content>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">

      <ion-slide class="mood-slide"> 
        <div class="box1 box">
          <div class="slide-image"></div>
          <h1>{{ 'HABITS_MOOD_STRESS_HELP_TITLE' | translate }}</h1>
          <h2>{{ 'HABITS_MOOD_STRESS_HELP_LINE_1' | translate }}</h2>
          <p>{{ 'HABITS_MOOD_STRESS_HELP_LINE_2' | translate }}<br><br>
          {{ 'HABITS_MOOD_STRESS_HELP_LINE_3' | translate }}</p>
        </div>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button-start" ng-click="confirm()">{{ 'GET_STARTED' | translate }}</button>
  </div>
</ion-view>