<ion-view class="opening-bg" title="Throwback" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="list list-inset list-clear">

        <div class="logo">
          <img src="img/logo.png"/>
        </div>

        <p class="description">
          Revisit old memories. Share them with friends.
        </p>

        <button class="button button-block button-fb" ng-click="handleFBAuth()" ng-disabled="isConnectDisabled" ng-model="isConnectDisabled">
          <i class="icon ion-social-facebook"></i>
          &nbsp;Sign Up or Login
        </button>

    </div>
  </ion-content>
</ion-view>
