<ion-view title="Share">
  <ion-nav-buttons side="left">
    <a href="#/feed"><button class="button button-icon icon ion-chevron-left nav-button"></button></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="share-box">

      <label class="item item-input share-message">
        <textarea class="share-message" ng-model="$parent.shareMessage" placeholder="{{ placeholderMessage }}"></textarea>
      </label>
      <div class="share-toggle-container">
        <label class="toggle toggle-positive share-block first">
           <input type="checkbox" ng-model="$parent.shareWithFacebook" ng-change="$parent.handleFacebookToggle()">
           <div class="track">
             <div class="handle"><i class="icon ion-social-facebook toggle"></i></div>
           </div>
         </label>
        <label class="toggle toggle-positive share-block">
           <input type="checkbox" ng-model="$parent.shareWithTwitter" ng-change="$parent.handleTwitterToggle()">
           <div class="track">
             <div class="handle"><i class="icon ion-social-twitter toggle"></i></div>
           </div>
         </label>
         <label class="toggle toggle-positive share-block">
           <input type="checkbox" ng-model="$parent.shareWithInstagram" ng-change="$parent.handleInstagramToggle()">
           <div class="track">
             <div class="handle"><i class="icon ion-social-instagram toggle"></i></div>
           </div>
         </label>
      </div>
      <canvas id="myCanvas" width="600" height="600" ng-hide="true"></canvas>
      <div class="bar bar-accent" ng-click="handleShare()">
        <div class="title">Share</div>
      </div>
    </div>
  </ion-content>
</ion-view>
