<ion-view title="" hide-nav-bar="true" class="popoverr slideshow">
  <ion-content>

    <go-back ng-if="!intro"></go-back>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">

      <ion-slide class="relax-slide">
        <div class="box1 box">
          <div class="slide-image"></div>
          <h1>{{ 'RELAX_HELP_TITLE' | translate }}</h1>
          <h2>{{ 'RELAX_HELP_LINE_1' | translate }}</h2>
          <p>{{ 'RELAX_HELP_LINE_2' | translate }}<br><br>
             {{ 'RELAX_HELP_LINE_3' | translate }}
          </p>
        </div>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button-start" ng-click="confirm()" ng-if="intro">{{ (intro ? 'GET_STARTED' : 'OK_GOT_IT') | translate }}</button>
  </div>
</ion-view>