<ion-view>
	<ion-nav-title class="logo" ui-sref="app.dashboard"></ion-nav-title>
		<ion-nav-bar class="bar-stable">
			<ion-nav-buttons side="left"><a href="#/app/dashboard" class="button button-icon icon ion-android-arrow-back"></a></ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon  icon ion-ios-search" ui-sref="app.search"></button>
				<button class="button button-icon  icon ion-bag" ui-sref="app.shopping-cart">
			    <span class="badge badge-assertive" ng-if="cartItems!=undefined && cartItems!=''">
			      {{cartItems}}
			    </span>
			  </button>
				<button class="button button-icon  icon ion-android-notifications" ng-click="openNotifications($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
    <ion-content class="first-innerpage">
			<div class="card top_banner" ng-click="showProductSpecific(bannerData.categorySpecific_id,bannerData.categoryName);" ng-repeat="banners in bannerData.catbanner"><!--top banner-->
				<div class="item item-image">
					<img ng-src="{{banners.image}}" class="full-image">
				</div>
			</div>
		</ion-content>
</ion-view>
