<ion-view view-title="invite guests">
  <ion-content class="view-invite-guests" scroll="false">
	  <div class="row">
		  <div class="col">
		  	<a ng-click="inviteSms()">
		    	<i class="icon ion-chatbubbles"></i>
		    	SMS
		    </a>
		  </div>
		  <div class="col">
		    <a ng-click="inviteWhatsapp()">
		    	<i class="icon ion-social-whatsapp"></i>
		    	Whatsapp
		    </a>
		  </div>
	  </div>
	<div class="row">
	  	  <div class="col">
		  	<a ng-click="inviteFacebook()">
		    	<i class="icon ion-social-facebook"></i>
		    	Facebook
		    </a>
		  </div>
		  <div class="col">
		    <a ng-click="inviteTweet()">
		    	<i class="icon ion-social-twitter"></i>
		    	Twitter
		    </a>
		  </div>
	</div>
   <a ng-click="inviteOther()" class="more-invite-options">More invitation options?</a>


  </ion-content>
</ion-view>
