<ion-modal-view class="view-rateus">
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRate(0)"><i class="icon ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
      <div class="list">
      <label class="item" style="text-align: center;">
        <img src="img/coupleicon.png" class="animated swing" style="width: 50%;">
        <h3>Do you like using Wedivite<BR>as much as we love creating it?</h3>
      </label>
      <label>
        <P>Please rate us:</P>
      </label>
      

        <label>
          <button class="starButton" ng-click="closeRate(1)">
            <i class="icon ion-ios-star-outline"></i>
          </button>
        </label>
        <label>
          <button class="starButton" ng-click="closeRate(1)">
            <i class="icon ion-ios-star-outline"></i>
          </button>
        </label>
        <label>
          <button class="starButton" ng-click="closeRate(1)">
            <i class="icon ion-ios-star-outline"></i>
          </button>
        </label>
        <label>
          <button class="starButton" ng-click="closeRate(1)">
            <i class="icon ion-ios-star-outline"></i>
          </button>
        </label>
        <label>
          <button class="starButton" ng-click="closeRate(2)">
            <i class="icon ion-ios-star-outline"></i>
          </button>
        </label>


  </ion-content>
</ion-modal-view>


