<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favorite" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" ui-sref="tab.favorite">
        <ion-nav-view name="tab-favorite"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Discover" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="tab.discover">
        <ion-nav-view name="tab-discover"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Options" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.options">
        <ion-nav-view name="tab-options"></ion-nav-view>
    </ion-tab>
</ion-tabs>
