<ion-view class="bg-welzen stats" view-title="Stats">

  <ion-header-bar align-title="center" class="header">
    <h1 class="title">Stats</h1>
    <a class="header__close-button" ui-sref='main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <div class="container">

      <div class="info-box--pinky">
        <span class="info-box__mega-title">Current Streak 5 Days</span>
      </div>

      <div class="info-box--transparent info-box--transparent--large-padding info-box--transparent--border-top">
        <div class="icon"><img src="img/stats-streak.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__subtitle">Longest streak</span>
        </div>
        <span class="info-box__stats">5 days</span>
      </div>

      <div class="info-box--transparent info-box--transparent--large-padding">
        <div class="icon"><img src="img/stats-time.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__subtitle">Time Meditating</span>
        </div>
        <span class="info-box__stats">1h 17m</span>
      </div>

      <div class="info-box--transparent info-box--transparent--large-padding">
        <div class="icon"><img src="img/stats-sessions.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__subtitle">Total sessions</span>
        </div>
        <span class="info-box__stats">9</span>
      </div>


    </div>
  </ion-content>

</ion-view>
