<ion-view class="bg-welzen login" view-title="Sign In">
  <ion-header-bar align-title="center" class="header">
    <a class="header__back-button" ng-click="goBack(-1)"><img src="img/btn-back.png"/></a>
    <h1 class="title">Sign In</h1>
    <a class="header__close-button" href='#/main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

  <ion-content has-bouncing="true">
    <div class="container">
      <!--<div class="info-box--purple-clear" ng-if="isBuying()">
        <div class="info-box__contents">
           <span class="info-box__brief">Create an account to continue with purchase</span>
        </div>
      </div>-->
      <form>
        <welzen-input placeholder="Email" type="email" ng-model="user.email"></welzen-input>
        <welzen-input placeholder="Password" type="password" ng-model="user.password" ng-keyup="analyzeEnterLogin($event,user)"></welzen-input>
        <a href='#/forgot' class="forgot">Forgot Password?</a>
      </form>
      <a class="button button-block button-calm cta footer__cta" ng-click="login(user);">Sign In</a>
      <a class="button button-block button-clear" ui-sref="signup({buying: isBuying(), product:productToBuy()})" >Create Welzen Account</a>
    </div>
  </ion-content>
</ion-view>
