/* line 5, friend.scss */
.page-friend .bar-header .button img {
  height: 20px;
}
/* line 9, friend.scss */
.page-friend .scroll-refresher {
  top: 160px;
}
/* line 13, friend.scss */
.page-friend .sf-retract-up {
  -webkit-transform: translateY(-71%);
  -moz-transform: translateY(-71%);
  -ms-transform: translateY(-71%);
  -o-transform: translateY(-71%);
  transform: translateY(-71%);
}
/* line 19, friend.scss */
.page-friend .bar-retractile-enabled.bar-retractile-up {
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
  transform: translateY(-70%);
}
/* line 24, friend.scss */
.page-friend .scroll {
  padding-top: 220px;
}
/* line 28, friend.scss */
.page-friend .has-friend-header {
  top: 218px;
}
/* line 32, friend.scss */
.page-friend .user-list {
  margin-top: 20px;
}
/* line 36, friend.scss */
.page-friend .friend-header {
  position: absolute;
  right: 0;
  left: 0;
  height: 211px;
  width: 100%;
  z-index: 10;
  background: white;
}
/* line 45, friend.scss */
.page-friend .friend-header .primary-header {
  position: relative;
}
/* line 50, friend.scss */
.page-friend .friend-header .secondary-header .user-info {
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
/* line 56, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info {
  position: relative;
  padding: 0px 20px 0 0;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  display: block;
}
/* line 62, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info h3 {
  color: #35434d;
  font-family: HelveticaNeueTH, sans-serif;
  font-size: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 71, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info .edit-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
/* line 76, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info .edit-box .edit, .page-friend .friend-header .secondary-header .user-info .info .edit-box .location {
  display: block;
  color: #7a7a7a;
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 12px;
}
/* line 83, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info .edit-box .edit {
  margin-right: 10px;
  height: 20px;
  -webkit-flex-basis: 150px;
  -moz-flex-basis: 150px;
  flex-basis: 150px;
  -ms-flex-preferred-size: 150px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  white-space: nowrap;
}
/* line 96, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info .edit-box .edit.two-buttons button {
  width: 50%;
}
/* line 101, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info .edit-box .edit button {
  display: inline;
  color: #ad252a;
  text-decoration: none;
  text-align: left;
  font-family: HelveticaNeueMD, sans-serif;
  padding: 0;
}
/* line 125, friend.scss */
.page-friend .friend-header .secondary-header .user-info .info .edit-box .location {
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-flex-basis: 300px;
  -moz-flex-basis: 300px;
  flex-basis: 300px;
  -ms-flex-preferred-size: 300px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
}
/* line 136, friend.scss */
.page-friend .friend-header .secondary-header .user-info .user-thumb {
  -webkit-flex-basis: 60px;
  -moz-flex-basis: 60px;
  flex-basis: 60px;
  -ms-flex-preferred-size: 60px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  width: 60px;
  margin: 0 20px;
}
/* line 142, friend.scss */
.page-friend .friend-header .secondary-header .user-info .user-thumb img {
  height: 60px;
  width: 60px;
}
/* line 149, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs {
  position: relative;
  clear: both;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 154, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs .cursor {
  position: absolute;
  height: 3px;
  background: #ad252a;
  top: 64px;
  z-index: 2;
  width: 100%;
  left: 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}
/* line 167, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs a {
  position: relative;
  border-bottom: 3px solid #dedde0;
  padding: 10px;
  display: block;
}
/* line 173, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs a span {
  font-family: HelveticaNeueLT, sans-serif;
  color: #98a6b1;
  font-size: 16px;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}
/* line 181, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs a strong {
  font-family: HelveticaNeueMD, sans-serif;
  font-weight: normal;
  color: #9aa7b2;
  font-size: 16px;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}
/* line 190, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs a.my-films {
  width: 40%;
  border-top: 3px solid #dedde0;
}
/* line 195, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs a.yes {
  width: 20%;
}
/* line 198, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs a.yes .crown {
  position: absolute;
  background: transparent url("../images/ico-crown.svg") center center no-repeat;
  width: 24px;
  height: 24px;
  top: -16px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 210, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs a.mate {
  width: 40%;
  border-top: 3px solid #dedde0;
}
/* line 220, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.movie-active .my-films > div {
  -webkit-animation: pulse 0.6s 0 1;
  -moz-animation: pulse 0.6s 0 1;
  animation: pulse 0.6s 0 1;
}
/* line 224, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.movie-active .my-films strong {
  color: #ad252a;
}
/* line 228, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.movie-active .my-films span {
  color: #35434d;
}
/* line 233, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.movie-active .cursor {
  -webkit-transform: translateX(0%) scaleX(0.4);
  -moz-transform: translateX(0%) scaleX(0.4);
  -ms-transform: translateX(0%) scaleX(0.4);
  -o-transform: translateX(0%) scaleX(0.4);
  transform: translateX(0%) scaleX(0.4);
}
/* line 241, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.like-active .yes {
  color: #35434d;
}
/* line 244, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.like-active .yes .crown {
  background-image: url("../images/ico-crown-red.svg");
  background-size: contain;
}
/* line 249, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.like-active .yes strong {
  color: #ad252a;
}
/* line 253, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.like-active .yes span {
  color: #35434d;
}
/* line 257, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.like-active .yes > div {
  -webkit-animation: pulse 0.6s 0 1;
  -moz-animation: pulse 0.6s 0 1;
  animation: pulse 0.6s 0 1;
}
/* line 262, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.like-active .cursor {
  -webkit-transform: translateX(40%) scaleX(0.2);
  -moz-transform: translateX(40%) scaleX(0.2);
  -ms-transform: translateX(40%) scaleX(0.2);
  -o-transform: translateX(40%) scaleX(0.2);
  transform: translateX(40%) scaleX(0.2);
}
/* line 269, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.mate-active .mate {
  color: #35434d;
}
/* line 272, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.mate-active .mate strong {
  color: #ad252a;
}
/* line 276, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.mate-active .mate span {
  color: #35434d;
}
/* line 280, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.mate-active .mate > div {
  -webkit-animation: pulse 0.6s 0 1;
  -moz-animation: pulse 0.6s 0 1;
  animation: pulse 0.6s 0 1;
}
/* line 285, friend.scss */
.page-friend .friend-header .secondary-header .title-tabs.mate-active .cursor {
  -webkit-transform: translateX(60%) scaleX(0.4);
  -moz-transform: translateX(60%) scaleX(0.4);
  -ms-transform: translateX(60%) scaleX(0.4);
  -o-transform: translateX(60%) scaleX(0.4);
  transform: translateX(60%) scaleX(0.4);
}
