<div id="five-thirty">
<!--
530 am forecast
=======================================
-->
    <div class="card wide">
        <div class="item item-text-wrap">
            <div class="info-container">
                <h2>{{vm.forecast.timePeriod}}</h2>
                <p>Issued at {{vm.forecast.IssuedAt}}</p><br>
                <p>By {{vm.forecast.forecaster}}</p><br>
                <p class="em-txt">For The Period {{vm.forecast.forecastPeriod}}</p>
            </div>
        </div>
    </div>
    <div ng-if="vm.forecast.textArea1">
        <div class="card wide" >
            <div class="item item-divider text-left">
                <i class="ion-ios-location"></i>
                <p>{{vm.forecast.forecastArea1}}</p>
            </div>
            <div class="item item-text-wrap">
                <span class="em-txt"><p>{{vm.forecast.textArea1}}</p></span>
            </div>
        </div>
    </div>
    <div ng-if="vm.forecast.textArea2">
        <div class="card wide" >
            <div class="item item-divider text-left wrap">
                <i class="ion-ios-location"></i>
                <p class="wrap">{{vm.forecast.forecastArea2}}</p>
            </div>
            <div class="item item-text-wrap">
                <span class="em-txt"><p>{{vm.forecast.textArea2}}</p></span>
            </div>
        </div>
    </div>

    <div ng-if="vm.forecast.textArea3">
        <div class="card wide" >
            <div class="item item-divider text-left wrap">
                <i class="ion-ios-location"></i>
                <p class="wrap">{{vm.forecast.forecastArea3}}</p>
            </div>
            <div class="item item-text-wrap">
                <span class="em-txt"><p>{{vm.forecast.textArea3}}</p></span>
            </div>
        </div>
    </div>

    <div ng-if="vm.forecast.PiarcoFcstMxTemp">
        <div class="card wide" id="temp-container">
            <div class="item item-divider text-left">
                <i class="ion-thermometer"></i>
                <p>Temperature Forecast</p>
            </div>
            <div class="item item-text-wrap">
                <div class="row no-padding">
                    <div class="col text-left no-padding">
                        <h1 class="temp-lg">Piarco</h1>
                        <span ng-if="vm.forecast.PiarcoFcstMxTemp"><p class="temp-sm">Max Temp</p></span><br/>
                        <span ng-if="vm.forecast.PiarcoFcstMxTemp"><p class="temp-lg">{{vm.forecast.PiarcoFcstMxTemp}}&deg;c</p></span>
                        <br/><br/>
                        <span ng-if="vm.forecast.PiarcoFcstMnTemp"><p class="temp-sm">Min Temp</p></span><br/>
                        <span ng-if="vm.forecast.PiarcoFcstMnTemp"><p class="temp-lg">{{vm.forecast.PiarcoFcstMnTemp}}&deg;c</p></span>
                    </div>
                    <div class="col text-left no-padding">
                        <h1 class="temp-lg">Crown Pt.</h1>
                        <span ng-if="vm.forecast.CrownFcstMxTemp"><p class="temp-sm">Max Temp</p></span><br/>
                        <span ng-if="vm.forecast.CrownFcstMxTemp"><p class="temp-lg">{{vm.forecast.CrownFcstMxTemp}}&deg;c</p></span>
                        <br/><br/>
                        <span ng-if="vm.forecast.CrownFcstMnTemp"><p class="temp-sm">Min Temp</p></span><br/>
                        <span ng-if="vm.forecast.CrownFcstMnTemp"><p class="temp-lg">{{vm.forecast.CrownFcstMnTemp}}&deg;c</p></span>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row no-padding">
                    <div class="col no-padding">
                        <span ng-if="vm.forecast.uvrate">
                            <small>UV Rate:</small> <p class="temp-lg">{{vm.forecast.uvrate}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card wide">
        <div class="item item-divider text-left">
            <i class="ion-android-boat"></i>
            <p>Seas</p>
        </div>
        <div class="item item-text-wrap text-left">
            <span class="em-txt">
                <p>{{vm.forecast.seas}}</p>
            </span>
        </div>
    </div>

    <div class="card wide">
        <div class="item item-divider text-left">
            <i class="ion-help-buoy"></i>
            <p>Waves</p>
        </div>
        <div class="item item-text-wrap text-left">
            <span class="em-txt">
                <p>{{vm.forecast.waves1}} {{vm.forecast.waves2}}</p>
            </span>
        </div>
    </div>

    <div ng-if="vm.forecast.addMarine">
        <div class="row no-padding">
            <div class="card wide">
                <div class="item item-divider text-left">
                    <i class="ion-android-boat"></i>
                    <p>Additional Marine Info</p>
                </div>
                <div class="item item-text-wrap text-left">
                    <span class="em-txt">
                        <p>{{vm.forecast.addMarine}}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

<!--     <div class="card wide">
        <div class="item item-divider text-left">
            <i class="ion-ios-rainy-outline"></i>
            <p>Precipitation</p>
        </div>
        <div class="item item-text-wrap text-left">
            <span class="em-txt">
                <p>{{vm.forecast.precipitation}}</p>
            </span>
        </div>
    </div>

    <div class="card wide">
        <div class="item item-divider text-left">
            <i class="ion-umbrella"></i>
            <p>Probable Rainfall</p>
        </div>
        <div class="item item-text-wrap text-left">
            <span class="em-txt">
                <p>{{vm.forecast.probrainfall}}</p>
            </span>
        </div>
    </div> -->
</div>
