<ion-view class="bg-welzen about" view-title="About">
  <ion-header-bar align-title="center" class="header">
    <a class="header__back-button" ng-click="goBack(-1)"><img src="img/btn-back.png"/></a>
    <h1 class="title">About</h1>
    <a class="header__close-button" href='#/main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>
  <div class="container">
    <h1 class="title">Wellness and Zen...</h1>
    <p class="paragraph">…got together, had a child and named him Welzen. We started this company because we believe we can become a better society. We believe we can help this cause by taking care of our mind. Mindfulness teaches a lot of things but our main take away is that it empowers us to practice acceptance in 2 specific ways: first, by accepting ourselves as wonderful and dark as we are, and secondly, by fully experiencing each moment with all that it has to offer.</p>
  </div>
  <ion-footer-bar class="bg-clear footer">
    <img src="img/characters1.svg"/>
  </ion-footer-bar>
</ion-view>
