<ion-content class="search-movie tab">

	<div class="empty-list" ng-if="bag.movie.list.length === 0 && bag.movie.finished">
			<span translate>Nenhum filme encontrado.</span>
	</div>

	<div class="empty-list" ng-if="bag.movie.list.length === 0 &&  ! bag.movie.finished">
		<span translate>Utilize o campo de busca acima.</span>
	</div>

	<div class="loading" ng-if=" loading && ! infiniteScrollActive">
		<ion-spinner></ion-spinner>
	</div>

	<div class="movie-list">
		<sf-movie-item movie="movie" ng-repeat="movie in bag.movie.list"></sf-movie-item>
	</div>

	<div ng-if="bag.movie.list.length > 0 && bag.movie.finished" class="feed-end"><span translate>Fim desta lista.</span></div>

	<ion-infinite-scroll distance="1%" ng-if="infiniteScrollActive && ! bag.movie.finished" on-infinite="loadMore('movie')"></ion-infinite-scroll>
</ion-content>
