/* line 7, search.scss */
.page-search .bar-header .btn-cancel {
  -webkit-flex-basis: 100px;
  -moz-flex-basis: 100px;
  flex-basis: 100px;
  -ms-flex-preferred-size: 100px;
  width: 100px;
  color: #e96b5c;
  font-size: 15px;
}
/* line 14, search.scss */
.page-search .bar-header .input-container {
  position: relative;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
}
/* line 18, search.scss */
.page-search .bar-header .input-container input {
  -webkit-appearance: none;
  background: #8a1e22;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border-radius: 3px;
  padding: 0 40px 0 10px;
}
/* line 28, search.scss */
.page-search .bar-header .input-container input::-webkit-input-placeholder {
  color: #e96b5c;
}
/* line 32, search.scss */
.page-search .bar-header .input-container input:-moz-placeholder {
  /* FF 4-18 */
  color: #e96b5c;
}
/* line 37, search.scss */
.page-search .bar-header .input-container input::-moz-placeholder {
  /* FF 19+ */
  color: #e96b5c;
}
/* line 42, search.scss */
.page-search .bar-header .input-container input:-ms-input-placeholder {
  /* IE 10+ */
  color: #e96b5c;
}
/* line 47, search.scss */
.page-search .bar-header .input-container button {
  position: absolute;
  width: 44px;
  height: 44px;
  padding: 0;
  right: 0;
  top: 0;
}
/* line 55, search.scss */
.page-search .bar-header .input-container button img {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
}
/* line 62, search.scss */
.page-search .bar-header .input-container button.btn-search {
  display: none;
}
/* line 68, search.scss */
.page-search .bar-header .input-container.active input {
  background: white;
}
/* line 72, search.scss */
.page-search .bar-header .input-container.active .btn-search-inactive {
  display: none;
}
/* line 76, search.scss */
.page-search .bar-header .input-container.active .btn-search {
  display: block;
}
/* line 83, search.scss */
.page-search .loading {
  text-align: center;
  font-size: 25px;
}
/* line 88, search.scss */
.page-search .secondary-header {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  height: 70px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  background: white;
  z-index: 10;
}
/* line 100, search.scss */
.page-search .secondary-header .cursor {
  position: absolute;
  height: 3px;
  background: #ad252a;
  top: 67px;
  z-index: 2;
  width: 100%;
  left: 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}
/* line 113, search.scss */
.page-search .secondary-header .tab {
  color: #9aa7b2;
  border-bottom: 3px solid #9aa7b2;
  padding: 15px 0;
  font-size: 17px;
  width: 50%;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  display: block;
  width: 50%;
}
/* line 125, search.scss */
.page-search .secondary-header .tab.active > div {
  -webkit-animation: pulse 0.6s 0 1;
  -moz-animation: pulse 0.6s 0 1;
  animation: pulse 0.6s 0 1;
}
/* line 129, search.scss */
.page-search .secondary-header .tab.active .label {
  color: #ad252a;
}
/* line 136, search.scss */
.page-search .secondary-header.movie-active .cursor {
  -webkit-transform: translateX(0%) scaleX(0.5);
  -moz-transform: translateX(0%) scaleX(0.5);
  -ms-transform: translateX(0%) scaleX(0.5);
  -o-transform: translateX(0%) scaleX(0.5);
  transform: translateX(0%) scaleX(0.5);
}
/* line 142, search.scss */
.page-search .secondary-header.user-active .cursor {
  -webkit-transform: translateX(50%) scaleX(0.5);
  -moz-transform: translateX(50%) scaleX(0.5);
  -ms-transform: translateX(50%) scaleX(0.5);
  -o-transform: translateX(50%) scaleX(0.5);
  transform: translateX(50%) scaleX(0.5);
}
/* line 148, search.scss */
.page-search .tab {
  top: 114px;
  padding-top: 20px;
}
