<ion-view class="bg-welzen live-meditations" view-title="RSVP">
  <ion-header-bar align-title="center" class="header">
    <a class="header__back-button" ng-click="goBack(-1)"><img src="img/btn-back.png"/></a>
    <h1 class="title">RSVP</h1>
    <a class="header__close-button" ui-sref='main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

    <ion-content has-bouncing="true">
      <div class="container">
        <h1 class="title">Live Meditations</h1>
        <div class="info-box--calm--middle">
          <span class="info-box__title">Sunday April 23</span>
          <span class="info-box__brief">9:00 AM - 20 Min.</span>
        </div>
        <p class="paragraph">We will send you a reminder the day before and 10 minutes before the live meditation starts, to give you some time to get ready.</p>
      </div>
    </ion-content>


  <ion-footer-bar class="footer">
    <a class="button button-block button-calm cta footer__cta" href='#/live'>RSVP</a>
  </ion-footer-bar>

</ion-view>
