<ion-view class="bg-welzen cancel" view-title="Cancel">

  <ion-header-bar align-title="center" class="header">
    <h1 class="title">Cancel Subscription</h1>
    <a class="header__close-button" ui-sref='main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>

  <div class="container">
    <h1 class="title">It's a sad, sad day...</h1>
    <p class="paragraph">{{cancelText}}</p>
  </div>

  <ion-footer-bar class="bg-clear footer">
    <a class="button button-block button-calm cta footer__cta" ui-sref='main'>Continue</a>
  </ion-footer-bar>

</ion-view>
