<ion-view class="bg-welzen success" view-title="Corporate Success">

  <ion-header-bar align-title="center" class="header">
    <h1 class="title">Success</h1>
  </ion-header-bar>

  <div class="container">
    <h1 class="title">Welcome to the family!</h1>
    <p class="paragraph">To manage your subscription on your iOS device, launch the App Store and make sure you're viewing the Featured tab.</p>
    <p class="paragraph">Scroll to the bottom, tap on the Apple ID button, and then select View Apple ID.</p>
  </div>

  <ion-footer-bar class="bg-clear footer">
    <img class="characters" src="img/characters1.svg"/>
    <a class="button button-block button-calm cta footer__cta" href='#/main'>Continue</a>
  </ion-footer-bar>

</ion-view>
