<ion-view hide-nav-bar="true" class="landing bg-welzen">
  <div class="container">
    <div class="logo"><img src="img/logo.svg"/></div>
    <h2 class="landing__title">Welcome</h2>
    <p>Please select your language, you can change this later from your settings.</p>
    <div class="characters"><img src="img/characters1.svg"/></div>
  </div>
  <ion-footer-bar class="bg-clear footer">
    <a class="button button-block button-clear" href='#/landing'>English</a>
    <a class="button button-block button-clear" href='#/landing'>Español</a>
  </ion-footer-bar>
</ion-view>
