/* line 4, register.scss */
.page-register .bar-header {
  height: 75px !important;
  background: #ad252a;
  border: none;
}
/* line 9, register.scss */
.page-register .bar-header .title {
  top: 13px;
}
/* line 12, register.scss */
.page-register .bar-header .title img {
  width: 126px;
  height: 43px;
}
/* line 18, register.scss */
.page-register .bar-header .button {
  margin-top: 15px !important;
}
/* line 23, register.scss */
.page-register .has-header {
  top: 85px !important;
}
/* line 27, register.scss */
.page-register .padding-sf {
  margin: 0 20px;
}
/* line 31, register.scss */
.page-register .page-text {
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 16px;
  margin: 30px 20px 20px;
  color: #787878;
}
/* line 37, register.scss */
.page-register .page-text a {
  color: #b0252c;
}
/* line 42, register.scss */
.page-register .facebook-connect {
  background: #3b5998;
}
/* line 46, register.scss */
.page-register .or-separator {
  position: relative;
  border-top: 2px dashed #d0d0d0;
  text-align: center;
  margin: 40px 15px 20px;
}
/* line 52, register.scss */
.page-register .or-separator span {
  position: relative;
  padding: 0 20px;
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 16px;
  background: #fff;
  top: -12px;
  color: #7a7a7a;
}
/* line 63, register.scss */
.page-register .double-field {
  border-radius: 5px;
  background: #dedee1;
  color: #969093;
  padding: 5px;
  margin-bottom: 20px;
}
/* line 70, register.scss */
.page-register .double-field .field {
  position: relative;
}
/* line 73, register.scss */
.page-register .double-field .field.invalid {
  padding-right: 35px;
}
/* line 76, register.scss */
.page-register .double-field .field.invalid .feedback {
  position: absolute;
  width: 25px;
  height: 100%;
  right: 0px;
  top: 0;
  background: transparent url("../images/ico-required-errorcheck.svg") center center no-repeat;
  background-size: 25px;
}
/* line 87, register.scss */
.page-register .double-field .field input {
  background: #dedee1;
  color: #969093;
  padding: 20px 10px;
  border-radius: 5px;
  font-family: HelveticaNeueROMAN, sans-serif;
  font-size: 16px;
  width: 100%;
}
/* line 96, register.scss */
.page-register .double-field .field input::-webkit-input-placeholder, .page-register .double-field .field input:-moz-placeholder, .page-register .double-field .field input::-moz-placeholder, .page-register .double-field .field input:-ms-input-placeholder {
  color: #969093;
}
/* line 105, register.scss */
.page-register .double-field .field-separator {
  border: 1px solid #fff;
  background: #fff;
  height: 2px;
  margin: 7px 10px;
}
/* line 113, register.scss */
.page-register .one-field {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}
/* line 117, register.scss */
.page-register .one-field .field {
  position: relative;
  width: 100%;
}
/* line 122, register.scss */
.page-register .one-field .field.invalid .feedback {
  position: absolute;
  width: 25px;
  height: 70%;
  right: 5px;
  bottom: 0;
  background: transparent url("../images/ico-required-errorcheck.svg") center center no-repeat;
  background-size: 25px;
}
/* line 131, register.scss */
.page-register .one-field .field.invalid .feedback.birthday {
  height: 55%;
}
/* line 137, register.scss */
.page-register .one-field .field label {
  color: #787878;
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 144, register.scss */
.page-register .one-field .field select, .page-register .one-field .field input {
  width: 100%;
  border-radius: 5px;
  font-family: HelveticaNeueROMAN, sans-serif;
  font-size: 16px;
  background: #dedee1;
  color: #969093;
  margin-top: 5px;
  border: none;
}
/* line 155, register.scss */
.page-register .one-field .field select {
  padding: 18px 10px;
  height: 57px;
}
/* line 159, register.scss */
.page-register .one-field .field select option {
  padding: 10px;
}
/* line 164, register.scss */
.page-register .one-field .field input {
  padding: 28px 10px;
}
/* line 168, register.scss */
.page-register .one-field .field .birthday-field {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 171, register.scss */
.page-register .one-field .field .birthday-field .field-onethird {
  width: 33.3333%;
}
/* line 174, register.scss */
.page-register .one-field .field .birthday-field .field-onethird.space-around {
  margin-right: 1px;
  margin-left: 1px;
}
/* line 179, register.scss */
.page-register .one-field .field .birthday-field .field-onethird label {
  font-size: 14px;
  padding-left: 10px;
}
/* line 184, register.scss */
.page-register .one-field .field .birthday-field .field-onethird select {
  width: 100%;
}
/* line 192, register.scss */
.page-register .make-it {
  background: #12ad60;
  color: #fff;
}
/* line 198, register.scss */
.page-register .terms-links a {
  text-decoration: none;
}
