@import 'variables';

.page-reset-password {

	.title {
		color: #fff;
	}

	.wrapper {
		padding: 20px 10px;

		label {
			display: block;
			color: #787878;
			font-family: HelveticaNeueLT, sans-serif;
			font-size: 16px;
			margin-bottom: 10px;
		}


		input {
			background: #dedee1;
			color: #969093;
			padding: 20px 10px;
			border-radius: 5px;
			font-family: HelveticaNeueROMAN, sans-serif;
			font-size: 16px;

			&::-webkit-input-placeholder,
			&:-moz-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder {
				color: #969093;
			}
		}

		input.ng-invalid.ng-dirty {
			background-color: #fcc;
			border: 1px solid #f66;
		}

		.kana-button {
			background: #12ad60;
		}
	}



}