/* line 5, resetPassword.scss */
.page-reset-password .title {
  color: #fff;
}
/* line 9, resetPassword.scss */
.page-reset-password .wrapper {
  padding: 20px 10px;
}
/* line 12, resetPassword.scss */
.page-reset-password .wrapper label {
  display: block;
  color: #787878;
  font-family: HelveticaNeueLT, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 21, resetPassword.scss */
.page-reset-password .wrapper input {
  background: #dedee1;
  color: #969093;
  padding: 20px 10px;
  border-radius: 5px;
  font-family: HelveticaNeueROMAN, sans-serif;
  font-size: 16px;
}
/* line 29, resetPassword.scss */
.page-reset-password .wrapper input::-webkit-input-placeholder, .page-reset-password .wrapper input:-moz-placeholder, .page-reset-password .wrapper input::-moz-placeholder, .page-reset-password .wrapper input:-ms-input-placeholder {
  color: #969093;
}
/* line 37, resetPassword.scss */
.page-reset-password .wrapper input.ng-invalid.ng-dirty {
  background-color: #fcc;
  border: 1px solid #f66;
}
/* line 42, resetPassword.scss */
.page-reset-password .wrapper .kana-button {
  background: #12ad60;
}
