<ion-view class="page-reset-password">
	<div class="bar bar-header">
		<button class="button button-clear" ng-click="goTo('welcome.login')" style="position: absolute;">
			<img src="images/ico-arrow-left-white.svg" style="width: 25px; height: 25px;" />
		</button>
		<h1 class="title">
			<span translate>Recuperar senha</span>
		</h1>
	</div>

	<ion-content class="has-header">

		<div class="wrapper">

			<form novalidate name="resetPasswordForm">
				<label translate>Por favor, digite seu email.</label>

				<input required type="email" name="email" placeholder="E-mail" ng-model="formData.email" />

				<br />

			</form>
			<div class="padding-sf">
				<button tabindex="3" ng-class="{'btn-disabled': resetPasswordForm.$invalid }" ng-click="resetPassword(resetPasswordForm, formData)"
						class="kana-button make-it">
					<img src="images/kana-check.png" />
					<span translate>Enviar</span>
				</button>
			</div>

		</div>
	</ion-content>
</ion-view>
