<div class="scroll-content"><div class="content" content-ios=""><ul class="white-lists"><li><div class="white-lists-mainDiv show-pointer"><div class="white-lists-title" ng-click="gotoRecipientDetails($event)"><h2>Phone Contacts <span style="color:red">{{phoneContacts.length > 0 ? phoneContacts.length : ''}}</span></h2></div><div class="white-lists-plus-icon" ng-click="moveToContacts($event)"><a class="" href="javascript:;"></a></div></div><span class="dashboard-border lighter"></span></li></ul><ul class="white-lists"><li><div class="white-lists-mainDiv show-pointer"><div class="white-lists-title" ng-click="moveToBulkInvite($event)"><h2>Add Email's Manually <span style="color:red">{{bulkContacts.length > 0 ? bulkContacts.length : ''}}</span></h2></div><div class="white-lists-plus-icon" ng-click="moveToBulkInvite($event)"><a class="" href="javascript:;"></a></div></div><span class="dashboard-border lighter"></span></li></ul><!--
    <ul class="white-lists">
      <li ng-if="fbConnected">
        <div class="white-lists-mainDiv">
          <div class="white-lists-title" ng-click="moveToFbGroups($event)"><h2>Facebook Group <span style="color:red;">{{fbGroups.length > 0 ? fbGroups.length : ''}}</span></h2></div>
          <div class="white-lists-plus-icon" ng-click="moveToFbGroups($event)">
            <a class="" href="javascript:;">

            </a>
          </div>
        </div>
        <span class="dashboard-border lighter"></span>
      </li>
    </ul>
--></div><!-- / content --></div>