<ion-modal-view class="modal login-modal child">
  <ion-content>
    <div class="login-title">
      <div class="back">
        <button ng-click="closeModal()" class="btn-link link-16"><span class="icon ion-android-arrow-back"></span></button>
      </div>
      <div class="title">RESET PASSWORD</div>
      <hr>
    </div>
    <div class="login-body" id="signUpWrapper">
      <div class="input-wrapper">
        <input type="text" class="form-control" placeholder="Email address" ng-model="users.email">
      </div>
      <div class="btn-wrapper padding-lr">
        <button class="btn-email" ng-click="resetPassword()">Submit</button>
      </div>
    </div>
    <div class="term detail">
      By using Getfash, you agree to our <br> <a href="#" class="term-link">Terms of Use</a> and <a href="#" class="term-link">Privacy & policy</a>
    </div>
  </ion-content>
</ion-modal-view>