<ion-modal-view class="modal-join-contest">
	<div class="picker-area">
		<ion-header-bar class="header">
	      <div class="close">
	        <button class="btn-link-white" ng-click="closeModal()"><span class="ion-close"></span></button>
	      </div>
	      <div class="title">
	          Choose Photo From
	      </div>
	    </ion-header-bar>

	    <ion-content>
	    	<div class="action-wrapper" ng-click="getImageGallery()">
	    		<div class="ion-images"></div>
	    		<div class="text">Gallery</div>
	    	</div>
	   	</ion-content>
	</div>
</ion-modal-view>