<ion-content class="onboard_content" scroll="false">
    <div class="onboard_page">

        <div class="onboard_title">
            Great! Now let's turn on <br/>push notifications
        </div>
        <div class="onboard_descript" style="margin-left: 15px;margin-right: 15px;">
            We need these to inform you of incoming <br/>work requests and other important things. <br/>So please tap OK.
        </div>
        <div class="onboard_image" style="padding-left:15px;">
            <img src="img/onboard-staff-03.png" width="98%" class="onboard_image_110p"/>
        </div>
    </div>
    <div class="onboard_btndiv">
        <button class="button button-onboard-balanced button-block" ng-click="goOnboard(4)">ALRIGHT THEN</button>
    </div>
</ion-content>