  <ion-content class="onboard_content" scroll="false">
    <div class="onboard_page">

      <div class="onboard_title">
          Hey there!
      </div>
      <div class="onboard_descript">
        Before we unleash your ninja skills upon the world let us take you through a few things
      </div>
        <div class="onboard_image">
            <img src="img/onboard-staff-01.png" width="38%" style="max-width: 150px !important;"/>
        </div>
    </div>
      <div class="onboard_btndiv">
          <button class="button button-onboard-balanced button-block" ng-click="goOnboard(2)">LET'S DO THIS</button>
      </div>
  </ion-content>


