<ion-content class="onboard_content" scroll="false">
    <div class="onboard_page">

        <div class="onboard_title">
            One more REALLY important setting, your location
        </div>
        <div class="onboard_descript">
            Work Ninja is about finding you the closest available shift, so in order to do that we need to get an idea where you are!
        </div>
        <div class="onboard_descript_green">
            Please note we only track your location when you are on standby for work
        </div>

        <div class="onboard_image" style="padding-left:15px;">

            <img src="img/onboard-staff-04.png" width="98%" class="onboard_image_110p"/>
        </div>
    </div>
    <div class="onboard_btndiv">
        <button class="button button-onboard-balanced button-block" ng-click="goOnboard(5)">OH ALRIGHT THEN</button>
    </div>
</ion-content>