<ion-view title="Home">

  <ion-content has-bouncing="true" lazy-scroll class="has-header" delegate-handle="homeContent">

    <featured-videos data-featured-type="stohkepicks"></featured-videos>
<div class="spaced"></div>
    <featured-athletes></featured-athletes>
<div class="spaced"></div>
    <featured-images></featured-images>
<div class="spaced"></div>
    <featured-collections></featured-collections>
<div class="spaced"></div>
    <sports-list></sports-list>

  </ion-content>

</ion-view>