<ion-popover-view>
<!-- 	<ion-header-bar>
		<h1 class="title">Trinidad</h1>
	</ion-header-bar> -->

	<ion-content scroll="false" padding="false">
		<ion-list>
			<ion-item nav-transition="android" ui-sref="app.bago" ng-click="closePopover()">View Tobago conditions</ion-item>
			<ion-item ng-click="refreshImgTrin()">Change background</ion-item>
			<!-- <ion-item ng-click="share()">Share</ion-item> -->
		</ion-list>
		<!-- <div class="content" style="padding: 0px 10px; ">
			<div class="row" style="padding: 0px;">
				<div class="col" style="padding: 0px;">
					<p ui-sref="app.bago" ng-click="closePopover()" style="padding: 12px 20px;">View Tobago conditions</p>
					<p ng-click="refreshImgTrin()" style="padding: 12px 20px; margin-top: -8px;">Change background</p>
				</div>
			</div>
		</div> -->
	</ion-content>
</ion-popover-view>
