<div class="modal fullscreen-modal"  >
    <ion-content class="text-center intro-content welcome-content" style="">
        <div class="padding title-area">
            <div class="logo">
                <img src="img/applogo_white.png" role="img" aria-label="Shipt Logo">
            </div>
            <h3 class="light tag-line" role="text" aria-label="Shipt. On-demand Grocery Delivery.">
                On-demand Grocery Delivery
            </h3>
        </div>
        <div class="bottom-area">

            <div class="row">
                <div class="col">
                    <button style="" id="login_button" ng-click="closeWelcomeIntro('login')" class="button button-light ">
                        Login
                    </button>
                </div>
                <div class="col">
                    <button style="" id="signup_button" ng-click="closeWelcomeIntro('signUp')" class="button button-light ">
                        Sign up
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</div>
