div.cg-busy-default-wrapper {
  background-color: #f8f8f8; }

.item-select select {
  background: #f8f8f8; }

ion-nav-view .has-header, .modal.login-modal .has-header {
  top: 90px; }

ion-nav-view .bar-subheader, .modal.login-modal .bar-subheader {
  top: 91px; }

ion-nav-view .has-subheader, .modal.login-modal .has-subheader {
  top: 135px; }

ion-nav-view .title.title-center.header-item, .modal.login-modal .title.title-center.header-item {
  margin-top: 6px; }

ion-nav-view .bar .buttons-right span, .modal.login-modal .bar .buttons-right span {
  margin-top: 3px; }

ion-nav-view .bar-header button.ion-navicon, .modal.login-modal .bar-header button.ion-navicon {
  display: none; }

ion-nav-view .bar.bar-header, .modal.login-modal .bar.bar-header {
  height: 90px; }

ion-nav-view .button.back-button.buttons.button-clear.header-item, .modal.login-modal .button.back-button.buttons.button-clear.header-item {
  padding-top: 22px; }

ion-nav-view .bar.item-input-inset .item-input-wrapper, .modal.login-modal .bar.item-input-inset .item-input-wrapper {
  font-size: 26px; }
  ion-nav-view .bar.item-input-inset .item-input-wrapper input, .modal.login-modal .bar.item-input-inset .item-input-wrapper input {
    font-size: 26px;
    line-height: 30px;
    color: #515151; }

ion-nav-view ion-header-bar span.left-buttons web-home-logo-button img, ion-nav-view .modal.login-modal span.left-buttons web-home-logo-button img, .modal.login-modal ion-header-bar span.left-buttons web-home-logo-button img, .modal.login-modal .modal.login-modal span.left-buttons web-home-logo-button img {
  margin-top: 7px;
  width: auto;
  height: 65px;
  min-width: 185px; }

ion-nav-view ion-header-bar web-home-logo-button img, ion-nav-view .modal.login-modal web-home-logo-button img, .modal.login-modal ion-header-bar web-home-logo-button img, .modal.login-modal .modal.login-modal web-home-logo-button img {
  margin-top: 7px;
  width: auto;
  height: 65px;
  min-width: 185px; }

ion-nav-view .bar, .modal.login-modal .bar {
  border-bottom: 1px #E4E4E4 solid; }
  ion-nav-view .bar a.account-menu-item, .modal.login-modal .bar a.account-menu-item {
    padding-top: 22px; }
  ion-nav-view .bar web-cart-button, .modal.login-modal .bar web-cart-button {
    padding-top: 22px; }
    ion-nav-view .bar web-cart-button :before, .modal.login-modal .bar web-cart-button :before {
      color: #72b03a; }
  ion-nav-view .bar button.button.button-icon, .modal.login-modal .bar button.button.button-icon {
    font-size: 20px;
    color: #515151;
    border-radius: 0; }
  ion-nav-view .bar .address-bar-icon, .modal.login-modal .bar .address-bar-icon {
    border-left: 1px solid #CCCCCC; }
    ion-nav-view .bar .address-bar-icon i.icon.ion-edit:before, .modal.login-modal .bar .address-bar-icon i.icon.ion-edit:before {
      font-size: 20px;
      line-height: 32px; }
  ion-nav-view .bar .buttons.buttons-right button.button-icon.ion-ios-cart-outline span.badge.badge-assertive, .modal.login-modal .bar .buttons.buttons-right button.button-icon.ion-ios-cart-outline span.badge.badge-assertive {
    display: none; }
  ion-nav-view .bar div.title.title-center.header-item, .modal.login-modal .bar div.title.title-center.header-item {
    padding-top: 14px;
    font-size: 32px;
    font-weight: 400; }
  ion-nav-view .bar div.title, .modal.login-modal .bar div.title {
    height: 83px;
    border-color: #fff; }
    ion-nav-view .bar div.title div.bar.bar-light, .modal.login-modal .bar div.title div.bar.bar-light {
      height: 55px;
      border-color: #fff;
      background-color: white;
      background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), #fff 50%, transparent 50%); }
      ion-nav-view .bar div.title div.bar.bar-light form, .modal.login-modal .bar div.title div.bar.bar-light form {
        padding-left: 6%;
        width: 100%;
        height: 50px; }
        ion-nav-view .bar div.title div.bar.bar-light form label.item-input-wrapper, .modal.login-modal .bar div.title div.bar.bar-light form label.item-input-wrapper {
          border: 1px #CCC solid; }
      ion-nav-view .bar div.title div.bar.bar-light label.item-input-wrapper, .modal.login-modal .bar div.title div.bar.bar-light label.item-input-wrapper {
        border: 1px #CCC solid;
        font-size: 32px; }
        ion-nav-view .bar div.title div.bar.bar-light label.item-input-wrapper input, .modal.login-modal .bar div.title div.bar.bar-light label.item-input-wrapper input {
          font-size: 25px;
          line-height: 28px; }

ion-nav-view .bar.bar-header:first-of-type {
  height: 90px;
  border-bottom: none; }

ion-nav-view .bar.bar-header:last-of-type {
  height: 90px;
  border-bottom: 1px solid #E4E4E4; }

ion-nav-view .bar-subheader {
  background-image: linear-gradient(0deg, rgba(221, 221, 221, 0), rgba(221, 221, 221, 0) 50%, transparent 50%); }

label.item-input-wrapper {
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  label.item-input-wrapper button.button.button-positive {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    min-height: 45px;
    color: #fff;
    background-color: #72b03a;
    border: none; }
  label.item-input-wrapper button.button.button-positive:hover {
    background-color: #689C39; }

div.feature-items {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  div.feature-items div.feature {
    padding: 1px; }
    div.feature-items div.feature div {
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
      height: 254px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      border-radius: 2px; }

div.product-list-header {
  margin: 10px; }
  div.product-list-header h2 {
    margin-bottom: 0px;
    margin: 4px;
    margin-left: 7px;
    margin-bottom: 4px; }
    div.product-list-header h2 a {
      text-decoration: none; }

div.side-category-menu {
  margin: 10px;
  padding: 24px;
  background-color: #fff;
  border: 1px #E4E4E4 solid; }
  div.side-category-menu div.sub-category {
    cursor: pointer;
    margin: 5px;
    padding-bottom: 10px;
    padding-top: 1px;
    font-size: 18px !important;
    line-height: 20px; }
  div.side-category-menu div.sub-category:hover {
    text-decoration: underline; }
  div.side-category-menu div.sub-category.all {
    padding-bottom: 10px;
    margin-bottom: 10px; }
  div.side-category-menu div.sub-category.active {
    font-weight: bold; }

div.web-product-item ion-item:hover div.qty-buttons {
  display: block; }

div.web-product-item ion-item {
  min-height: 300px;
  border-radius: 6px; }
  div.web-product-item ion-item div.on-sale-web-banner {
    position: absolute;
    top: 40px;
    left: 0;
    color: #fff;
    background-color: #72b03a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px 7px; }
  div.web-product-item ion-item div.on-sale-web-banner.bogo {
    background-color: #ffc900; }
  div.web-product-item ion-item div.qty-buttons {
    display: block;
    margin: 10px;
    position: absolute;
    right: 0;
    bottom: 0; }
    div.web-product-item ion-item div.qty-buttons button.qty-button {
      padding: 1px 8px;
      border-radius: 5px;
      font-size: 15px; }
    div.web-product-item ion-item div.qty-buttons button.qty-button:hover {
      background-color: #598a2d; }
  div.web-product-item ion-item span.badge.product-grid-cart-count-badge {
    top: 0px;
    margin: 10px;
    right: 0px;
    font-size: 12px;
    padding: 3px;
    padding: 4px 9px 4px 9px;
    border-radius: 33px; }
  div.web-product-item ion-item div.detail-img-wrapper {
    min-height: 128px;
    min-height: 150px; }
    div.web-product-item ion-item div.detail-img-wrapper img.img-products-list {
      max-height: 128px;
      max-width: 128px; }
  div.web-product-item ion-item p.grid-product-name {
    font-size: 18px !important;
    line-height: 20px;
    max-height: 61px;
    color: #515151;
    overflow: hidden;
    text-overflow: ellipsis; }
  div.web-product-item ion-item div.grid-product-info {
    line-height: 18px; }
    div.web-product-item ion-item div.grid-product-info p {
      font-size: 16px !important;
      color: #9D9D9D; }
    div.web-product-item ion-item div.grid-product-info p.price {
      font-size: 18px !important;
      color: #515151; }
      div.web-product-item ion-item div.grid-product-info p.price span {
        font-weight: 400; }
  div.web-product-item ion-item div.custom-product-banner {
    font-size: 16px;
    text-align: center; }
  div.web-product-item ion-item div.loading-more-item {
    padding-top: 100px; }
  div.web-product-item ion-item div.add-special-item {
    padding-top: 100px; }

div.sub-category-items {
  margin-right: auto;
  margin-left: auto;
  white-space: normal;
  margin-bottom: 10px; }
  div.sub-category-items span.sub-category-item {
    display: inline;
    float: left;
    cursor: pointer;
    color: #72b03a;
    font-weight: 400;
    text-decoration: none;
    border: 1px #E4E4E4 solid;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 13px;
    font-size: 18px;
    margin: 4px;
    width: auto;
    white-space: nowrap; }
  div.sub-category-items span.sub-category-item.active {
    color: #fff;
    border: 1px #72b03a solid;
    background-color: #72b03a; }
  div.sub-category-items span.sub-category-item:hover, div.sub-category-items span.sub-category-item:active {
    color: #72b03a;
    border: 1px #E4E4E4 solid;
    background-color: rgba(154, 179, 131, 0.1); }
  div.sub-category-items span.sub-category-item.active:hover, div.sub-category-items span.sub-category-item.active:active {
    color: #fff;
    border: 1px #72b03a solid;
    background-color: #72b03a; }

div.home-row.row {
  padding: 0; }
  div.home-row.row div.col.category-list {
    padding: 0; }

ion-popover-view.category-dropdown-popover.popover {
  margin: 0;
  width: 300px;
  height: auto !important; }
  ion-popover-view.category-dropdown-popover.popover ion-header-bar {
    position: fixed !important;
    width: 31%;
    min-width: 300px;
    top: 135px;
    background-color: #fff;
    border-bottom: 1px #E4E4E4 solid; }
    ion-popover-view.category-dropdown-popover.popover ion-header-bar div.title-area {
      padding: 5px 13px; }
      ion-popover-view.category-dropdown-popover.popover ion-header-bar div.title-area h4 {
        margin-left: 10px;
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        color: #515151; }
      ion-popover-view.category-dropdown-popover.popover ion-header-bar div.title-area button.button-clear.button-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin: 4px 13px;
        color: #9D9D9D;
        font-size: 17px !important;
        line-height: 34px !important; }
        ion-popover-view.category-dropdown-popover.popover ion-header-bar div.title-area button.button-clear.button-icon :before {
          font-size: 17px !important;
          line-height: 34px !important; }
  ion-popover-view.category-dropdown-popover.popover ion-content {
    position: fixed !important;
    width: 31%;
    top: 177px;
    min-width: 300px;
    background-color: #fff; }
    ion-popover-view.category-dropdown-popover.popover ion-content div.category-list ion-list div.list {
      margin-top: 5px; }
      ion-popover-view.category-dropdown-popover.popover ion-content div.category-list ion-list div.list ion-item.category-list-item {
        border: none !important;
        padding: 15px 20px;
        padding-right: 50px;
        font-size: 22px;
        line-height: 29px;
        margin-left: 0px;
        margin-right: 0px; }
        ion-popover-view.category-dropdown-popover.popover ion-content div.category-list ion-list div.list ion-item.category-list-item i.icon {
          font-size: 17px; }
    ion-popover-view.category-dropdown-popover.popover ion-content div.category-list.top-items {
      border-bottom: 1px #E4E4E4 solid; }

.platform-android ion-popover-view.category-dropdown-popover {
  margin-top: 10px !important; }

ion-view.web-shopping-cart div.main-cart-area {
  margin-top: 30px;
  padding: 5px 30px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }
  ion-view.web-shopping-cart div.main-cart-area .empty-cart {
    color: #9D9D9D;
    cursor: pointer;
    margin-bottom: 10px; }
    ion-view.web-shopping-cart div.main-cart-area .empty-cart:hover {
      color: #666; }

ion-view.web-shopping-cart div.sub-total-area {
  border-radius: 2px;
  background-color: #fff;
  border: 1px #E4E4E4 solid; }
  ion-view.web-shopping-cart div.sub-total-area div.row {
    font-size: 18px;
    color: #515151; }
  ion-view.web-shopping-cart div.sub-total-area div.checkout-button {
    background-color: #fff;
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px #E4E4E4 solid; }
    ion-view.web-shopping-cart div.sub-total-area div.checkout-button button.button-positive {
      font-weight: 500;
      font-size: 22px; }

ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left {
  min-height: 130px;
  padding: 10px;
  padding-top: 1px;
  padding-left: 120px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px #E4E4E4 solid !important;
  line-height: 18px; }
  ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left img {
    cursor: pointer;
    top: 10px;
    max-width: 100px;
    max-height: 100px; }
  ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left p.product-name {
    cursor: pointer;
    font-size: 18px !important;
    line-height: 20px;
    max-height: 61px;
    color: #515151;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px; }
  ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left p.price {
    font-size: 18px !important;
    line-height: 20px;
    color: #515151;
    margin-bottom: 2px; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left p.price span {
      font-weight: 400; }
  ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.price {
    position: absolute;
    right: 0;
    top: 0;
    width: 152px;
    margin: 21px 15px 1px 65px; }
  ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.amt-buttons {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    margin-top: 50px; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.amt-buttons span.button.button-price {
      background-color: #f8f8f8 !important;
      color: #515151 !important;
      margin-right: -2px;
      margin-left: -2px;
      border-radius: 0;
      padding-top: 7px;
      line-height: 29px;
      font-size: 20px; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.amt-buttons button.button.button-positive.amt.add {
      background-color: #f8f8f8 !important;
      color: #515151 !important;
      margin-left: -4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.amt-buttons button.button.button-positive.amt.sub {
      background-color: #f8f8f8 !important;
      color: #515151 !important;
      margin-right: -4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area {
    padding-left: 5px; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area a {
      cursor: pointer; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area button.button-small {
      margin-right: 5px;
      margin-top: 5px;
      font-size: 13px;
      font-weight: 500;
      padding: 1px 7px; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area div.edit-note-area button.button-small {
      margin-right: 5px;
      margin-top: 5px; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area div.edit-note-area textarea {
      border: 1px #E4E4E4 solid;
      border-radius: 5px;
      padding: 5px; }
    ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area div.display-note-area {
      white-space: normal;
      max-width: 50%; }
      ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area div.display-note-area div.note {
        margin-top: 0px;
        margin-bottom: 5px; }
      ion-view.web-shopping-cart div.cart-items-area div.item.item-thumbnail-left div.cart-item-note-area div.display-note-area span.note-text {
        background-color: #fff;
        border: 1px #E4E4E4 solid;
        padding: 5px;
        border-radius: 5px; }

ion-view.web-checkout div.main-area {
  margin-top: 30px;
  padding: 5px 30px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

ion-view.web-checkout div.checkout-form {
  margin-top: 0px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px #E4E4E4 solid; }
  ion-view.web-checkout div.checkout-form div.checkout-form-section {
    padding: 10px;
    padding-top: 30px; }
    ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-title {
      font-size: 18px;
      color: #515151;
      padding: 10px; }
      ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-title i.icon {
        color: #72b03a; }
    ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body {
      padding: 10px; }
      ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.button.section-item.button-light.button-full {
        min-height: 20px !important;
        line-height: 20px;
        border-radius: 0;
        margin: 0;
        text-align: left;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        border: 1px #E4E4E4 solid;
        border-bottom: none;
        padding: 10px;
        color: #515151;
        padding-left: 40px;
        font-size: 16px; }
        ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item p, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.button.section-item.button-light.button-full p {
          margin-bottom: 0; }
        ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item i.icon, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.button.section-item.button-light.button-full i.icon {
          font-size: 25px;
          position: absolute;
          top: 0px;
          left: 12px;
          color: #72b03a; }
      ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.button.section-item.button-light.button-full.add-item {
        text-align: center;
        padding-left: 10px;
        color: #72b03a; }
        ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item i.icon, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.button.section-item.button-light.button-full.add-item i.icon {
          font-size: 16px;
          position: static;
          color: #72b03a; }
      ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item:first-child, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.section-item.button-light.button-full:first-child {
        border-top-right-radius: 9px;
        border-top-left-radius: 9px; }
      ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item:last-child, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.section-item.button-light.button-full:last-child {
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        border-bottom: 1px #E4E4E4 solid; }
      ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item:hover, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.section-item.button-light.button-full:hover {
        background-color: #f8f8f8; }
      ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body div.section-item.selected, ion-view.web-checkout div.checkout-form div.checkout-form-section div.section-body button.section-item.button-light.button-full.selected {
        background-color: #f8f8f8;
        color: #515151;
        font-weight: 500; }

ion-view.web-checkout div.checkout-form.subs {
  border: none;
  padding: 0; }
  ion-view.web-checkout div.checkout-form.subs div.checkout-form-section {
    padding: 0;
    padding-top: 0; }
    ion-view.web-checkout div.checkout-form.subs div.checkout-form-section div.section-body, ion-view.web-checkout div.checkout-form.subs div.checkout-form-section div.section-title {
      padding-left: 0;
      padding-right: 0; }
      ion-view.web-checkout div.checkout-form.subs div.checkout-form-section div.section-body small.faded, ion-view.web-checkout div.checkout-form.subs div.checkout-form-section div.section-title small.faded {
        font-size: 14px; }

ion-view.web-checkout div.total-area {
  border-radius: 5px;
  background-color: #fff;
  border: 1px #E4E4E4 solid;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px; }
  ion-view.web-checkout div.total-area div.delivery-notes {
    margin-bottom: 10px;
    margin-top: 30px; }
    ion-view.web-checkout div.total-area div.delivery-notes div.title {
      font-size: 18px;
      color: #515151;
      padding: 10px 0; }
      ion-view.web-checkout div.total-area div.delivery-notes div.title i.icon {
        color: #72b03a; }
      ion-view.web-checkout div.total-area div.delivery-notes div.title small {
        cursor: pointer;
        color: #72b03a; }
    ion-view.web-checkout div.total-area div.delivery-notes textarea {
      border: 1px #E4E4E4 solid;
      border-radius: 5px;
      padding: 5px;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      margin: 10px 0;
      resize: none; }
  ion-view.web-checkout div.total-area div.row {
    font-size: 18px;
    color: #515151; }
    ion-view.web-checkout div.total-area div.row div.col {
      margin-bottom: 0px; }
  ion-view.web-checkout div.total-area div.row.order-total {
    font-weight: 600; }
  ion-view.web-checkout div.total-area div.checkout-button {
    background-color: #fff;
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px #E4E4E4 solid; }
    ion-view.web-checkout div.total-area div.checkout-button button.button-positive {
      font-weight: 500;
      font-size: 22px; }

div.selection-list {
  padding: 10px;
  padding-top: 30px; }
  div.selection-list div.section-title {
    font-size: 18px;
    color: #515151;
    padding: 10px; }
    div.selection-list div.section-title i.icon {
      color: #72b03a; }
  div.selection-list div.section-body {
    padding: 10px; }
    div.selection-list div.section-body div.section-item, div.selection-list div.section-body button.button.section-item.button-light.button-full, div.selection-list div.section-body a.button.section-item.button-light.button-full {
      min-height: 20px !important;
      line-height: 20px;
      border-radius: 0;
      margin: 0;
      text-align: left;
      background-color: #fff;
      position: relative;
      cursor: pointer;
      border: 1px #E4E4E4 solid;
      border-bottom: none;
      padding: 15px;
      color: #515151;
      font-size: 18px; }
      div.selection-list div.section-body div.section-item p, div.selection-list div.section-body button.button.section-item.button-light.button-full p, div.selection-list div.section-body a.button.section-item.button-light.button-full p {
        margin-bottom: 0; }
    div.selection-list div.section-body div.section-item {
      cursor: default; }
    div.selection-list div.section-body button.button.section-item.button-light.button-full.icon, div.selection-list div.section-body a.button.section-item.button-light.button-full.icon {
      padding-left: 40px; }
      div.selection-list div.section-body button.button.section-item.button-light.button-full.icon i:first-of-type, div.selection-list div.section-body a.button.section-item.button-light.button-full.icon i:first-of-type {
        font-size: 25px;
        position: absolute;
        top: 3px;
        left: 12px;
        color: #72b03a; }
      div.selection-list div.section-body button.button.section-item.button-light.button-full.icon i:last-of-type, div.selection-list div.section-body a.button.section-item.button-light.button-full.icon i:last-of-type {
        font-size: 25px;
        position: absolute;
        top: 3px;
        right: 12px;
        color: #72b03a; }
    div.selection-list div.section-body button.button.section-item.button-light.button-full.add-item {
      text-align: center;
      padding-left: 10px;
      color: #72b03a; }
      div.selection-list div.section-body button.button.section-item.button-light.button-full.add-item i.icon {
        font-size: 16px;
        position: static;
        color: #72b03a; }
    div.selection-list div.section-body div.section-item.text-center {
      text-align: center; }
    div.selection-list div.section-body label.item, div.selection-list div.section-body .item {
      margin-right: 0;
      margin-left: 0; }
    div.selection-list div.section-body div.section-item:first-child,
    div.selection-list div.section-body button.section-item.button-light.button-full:first-child,
    div.selection-list div.section-body a.button.section-item.button-light.button-full:first-child,
    div.selection-list div.section-body ion-item:first-child,
    div.selection-list div.section-body .item:first-child {
      border-top-right-radius: 9px;
      border-top-left-radius: 9px; }
    div.selection-list div.section-body div.section-item:last-child,
    div.selection-list div.section-body button.section-item.button-light.button-full:last-child,
    div.selection-list div.section-body a.button.section-item.button-light.button-full:last-child,
    div.selection-list div.section-body ion-item:last-child,
    div.selection-list div.section-body .item:last-child {
      border-bottom-right-radius: 9px;
      border-bottom-left-radius: 9px;
      border-bottom: 1px #E4E4E4 solid; }
    div.selection-list div.section-body button.section-item.button-light.button-full:hover,
    div.selection-list div.section-body a.button.section-item.button-light.button-full:hover {
      background-color: #f8f8f8; }
    div.selection-list div.section-body div.section-item.selected,
    div.selection-list div.section-body button.section-item.button-light.button-full.selected,
    div.selection-list div.section-body a.button.section-item.button-light.button-full.selected {
      color: #515151;
      font-weight: 500; }
      div.selection-list div.section-body div.section-item.selected span,
      div.selection-list div.section-body button.section-item.button-light.button-full.selected span,
      div.selection-list div.section-body a.button.section-item.button-light.button-full.selected span {
        font-weight: 500; }

form.add-card-form div.list, div.add-card-form div.list {
  font-size: 25px; }
  form.add-card-form div.list .item span, div.add-card-form div.list .item span {
    font-size: 18px; }
  form.add-card-form div.list .item input, div.add-card-form div.list .item input {
    font-size: 18px; }
  form.add-card-form div.list .item:first-child, div.add-card-form div.list .item:first-child {
    border-top-right-radius: 9px;
    border-top-left-radius: 9px; }
  form.add-card-form div.list .item:last-child, div.add-card-form div.list .item:last-child {
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px; }

form.add-card-form button.button.button-positive, div.add-card-form button.button.button-positive {
  font-size: 18px; }

div.address-search {
  border-radius: 5px;
  border: 1px #E4E4E4 solid;
  border-top: 1px #E4E4E4 solid !important;
  background-color: #fff; }
  div.address-search label.item-input-wrapper {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px #E4E4E4 solid;
    font-size: 29px; }
    div.address-search label.item-input-wrapper input {
      font-size: 26px;
      line-height: 30px;
      color: #515151; }
    div.address-search label.item-input-wrapper i.ion-ios-location-outline.placeholder-icon {
      padding-left: 10px;
      padding-right: 10px; }
    div.address-search label.item-input-wrapper ion-spinner {
      position: absolute;
      right: -31px;
      top: 5px; }

div.order-detail-area {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

div.row.account-area {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto; }
  div.row.account-area div.area {
    margin: 10px;
    border-radius: 5px;
    border: 1px #E4E4E4 solid;
    border-top: 1px #E4E4E4 solid !important;
    background-color: #fff; }
    div.row.account-area div.area h4 {
      font-size: 18px;
      color: #515151;
      padding: 10px;
      font-weight: 400; }
      div.row.account-area div.area h4 a {
        font-size: 14px; }
    div.row.account-area div.area p {
      margin-bottom: 0; }
    div.row.account-area div.area a {
      cursor: pointer; }
    div.row.account-area div.area div.wrap {
      padding-left: 30px; }
  div.row.account-area div.area-list div.selection-list {
    padding: 0px;
    padding-top: 0px; }
  div.row.account-area ion-item.item {
    border-left: none;
    border-right: none; }

div.rating-modal div.area.star-rating-area {
  padding: 15px 39px; }
  div.rating-modal div.area.star-rating-area h4 {
    margin: 0px; }
  div.rating-modal div.area.star-rating-area ul.rating li i {
    font-size: 50px;
    cursor: pointer; }
  div.rating-modal div.area.star-rating-area img {
    margin: 10px; }
  div.rating-modal div.area.star-rating-area p {
    margin: 5px 0; }
  div.rating-modal div.area.star-rating-area div.selection-list {
    padding: 10px;
    padding-top: 10px; }

.bar.bar-subheader.home-sub-header {
  background-color: #fff; }

div.modal.login-modal ion-content {
  padding: 15px; }

div.modal.login-modal div.login-area {
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 9px;
  border: 1px #E4E4E4 solid;
  border-top: 1px #E4E4E4 solid !important;
  background-color: #fff; }
  div.modal.login-modal div.login-area div.login-title-header {
    padding: 17px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px #fff solid;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding-bottom: 0; }
    div.modal.login-modal div.login-area div.login-title-header h2 {
      margin-bottom: 0;
      color: #515151;
      font-weight: 400;
      font-size: 20px; }
    div.modal.login-modal div.login-area div.login-title-header img {
      margin-top: 7px;
      width: auto;
      height: 65px;
      min-width: 185px; }
  div.modal.login-modal div.login-area div.contents {
    padding: 30px;
    padding-top: 0; }
    div.modal.login-modal div.login-area div.contents form.login-form {
      max-width: 370px;
      margin-left: auto;
      margin-right: auto; }
    div.modal.login-modal div.login-area div.contents button.button-positive {
      font-size: 22px;
      font-weight: 400;
      min-width: 200px;
      line-height: 42px;
      min-height: 37px; }

div.modal.login-modal .item-select select {
  background: #fff; }

@media (min-width: 680px) {
  div.address.modal.choose-store-modal {
    top: 4%;
    height: 85%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    width: 60%; }
    div.address.modal.choose-store-modal div.top-area form.address-input-form {
      width: 300px;
      margin-left: auto;
      margin-right: auto; }
      div.address.modal.choose-store-modal div.top-area form.address-input-form label.item.item-input {
        border-radius: 5px; }
    div.address.modal.choose-store-modal div.address-list {
      width: 500px;
      margin-left: auto;
      margin-right: auto; }
      div.address.modal.choose-store-modal div.address-list ion-item:first-child {
        border-top-right-radius: 9px;
        border-top-left-radius: 9px; }
      div.address.modal.choose-store-modal div.address-list ion-item:last-child {
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px; }
      div.address.modal.choose-store-modal div.address-list ion-item:hover {
        background-color: rgba(175, 175, 175, 0.1); } }

div.customer-address-list {
  margin-left: auto;
  margin-right: auto;
  width: 500px; }
  div.customer-address-list div.customer-address-list-list {
    width: 500px;
    margin-left: auto;
    margin-right: auto; }
    div.customer-address-list div.customer-address-list-list ion-item:first-child {
      border-top-right-radius: 9px;
      border-top-left-radius: 9px; }
    div.customer-address-list div.customer-address-list-list ion-item:last-child {
      border-bottom-right-radius: 9px;
      border-bottom-left-radius: 9px; }
    div.customer-address-list div.customer-address-list-list ion-item:hover {
      background-color: rgba(175, 175, 175, 0.1); }
  div.customer-address-list ion-item.item {
    border: 1px solid #E4E4E4 !important; }

.custom-label {
  padding-left: 6px;
  opacity: 4;
  font-size: 16px;
  font: inherit;
  font-weight: 400; }

.weight-space {
  top: 60px !important; }
