<div class="welzen-popup" ng-class="{'popup-active': popUpActive}">
  <div class="welzen-popup__container">
    <div class="welzen-popup__close" ng-click='togglePopUpActive()'><img src="img/ico-close.svg"></div>
    <span class="welzen-popup__title">Mindfulness Coaching Sessions</span>
    <span class="welzen-popup__contents">Learn how Mindfulness enhances specific areas of your brain and changes your life inside out.</span>
    <div class="welzen-popup__separator"></div>
    <span class="welzen-popup__footer">This content requires a premium subscription</span>
    <a  class="welzen-popup__cta" ng-click='togglePopUpActive()' ui-sref="unlock">Subscribe</a>
  </div>
</div>

<div class="welzen-popup__overlay" ng-class="{'popup-active': popUpActive}" ng-click='togglePopUpActive()'></div>

<ion-view class="bg-welzen mindufulness-coaching" view-title="Mindfulness Coaching">

  <ion-header-bar align-title="center" class="header">
    <a class="header__back-button" ng-click="goBack()"><img src="img/btn-back.png"/></a>
    <h1 class="title">Mindfulness Coaching</h1>
    <a class="header__close-button" href='#/main'><img src="img/btn-close.png"/></a>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <div class="container">
      <a class="info-box--transparent" ng-click="goToPlay(media)" ng-repeat="media in medias">
        <div class="rounded-icon rounded-icon--large" ng-class="{'checked': media.coachingListened}"><img src="img/btn-coaching.png"></div>
        <div class="info-box__contents info-box__contents--push-right">
          <span class="info-box__title">{{media.title}}</span>
          <span class="info-box__brief">{{media.description}}</span>
        </div>
        <div class="info-box__forward info-box__forward--push-left" ng-if="!showLock(media);"><img src="img/btn-forward.svg"></div>
        <div class="info-box__lock" ng-if="showLock(media);"><img src="img/ico-lock.svg"></div>
      </a>
    </div>
  </ion-content>
</ion-view>
