/* line 6, shareModal-jellybean.scss */
.platform-android4_1 .modal-share .share-content .share-wrapper, .platform-android4_2 .modal-share .share-content .share-wrapper, .platform-android4_3 .modal-share .share-content .share-wrapper {
  padding-bottom: 50px;
}
/* line 12, shareModal-jellybean.scss */
.platform-android4_1 .modal-share .share-content .share-wrapper .user-textarea .description, .platform-android4_2 .modal-share .share-content .share-wrapper .user-textarea .description, .platform-android4_3 .modal-share .share-content .share-wrapper .user-textarea .description {
  width: 80%;
}
/* line 22, shareModal-jellybean.scss */
.platform-android4_1 .modal-share .big-button-footer .action-button, .platform-android4_2 .modal-share .big-button-footer .action-button, .platform-android4_3 .modal-share .big-button-footer .action-button, .platform-ios6 .modal-share .big-button-footer .action-button {
  -webkit-transform: translateY(-52%);
  -moz-transform: translateY(-52%);
  -ms-transform: translateY(-52%);
  -o-transform: translateY(-52%);
  transform: translateY(-52%);
}
