<ion-modal-view class="touchpoint popoverr skills-help">
  <ion-content class="filter-popover">
    
    <a href="javascript:;" ng-click="closeSkillsHelpModal()" class="go-back">X</a>

    <h1>{{ 'SKILLS_EXPLAINED' | translate }}</h1>
    <div class="relaxation">
		<strong>{{ 'SKILLS_SLIDE_RELAX_HEADLINE' | translate }}</strong><br>
		<span>{{ 'SKILLS_SLIDE_RELAX_DESC' | translate }}</span>
	</div>
    <div class="thoughts">
		<strong>{{ 'SKILLS_SLIDE_THOUGHTS_HEADLINE' | translate }}</strong><br>
		<span>{{ 'SKILLS_SLIDE_THOUGHTS_DESC' | translate }}</span>
	</div>
    <div class="goals">
		<strong>{{ 'SKILLS_SLIDE_GOALS_HEADLINE' | translate }}</strong><br>
		<span>{{ 'SKILLS_SLIDE_GOALS_DESC' | translate }}</span>
	</div>
    <div class="health">
		<strong>{{ 'SKILLS_SLIDE_HEALTH_HEADLINE' | translate }}</strong><br>
		<span>{{ 'SKILLS_SLIDE_HEALTH_DESC' | translate }}</span>
	</div>
    <div class="community">
		<strong>{{ 'SKILLS_SLIDE_COMMUNITY_HEADLINE' | translate }}</strong><br>
		<span>{{ 'SKILLS_SLIDE_COMMUNITY_DESC' | translate }}</span>
	</div>

  </ion-content>
</ion-modal-view>