<ion-view cache-view="false" view-title="About" hide-nav-bar="true" ng-controller="AboutCtrl">
  <ion-content style="top: -1px; left: -1px;" content="center" scroll="false" has-header="false">
    <div class="about_wrapper">
      <ion-slide-box does-continue="false" show-pager="false" auto-play="false">
        <ion-slide>
          <img src="img/slider/1.png"/>
          <button class="button button-icon ion-chevron-left black_back_button" ng-click="closePage()">Settings</button>
          <i class="icon ion-chevron-right arrow_right"></i>
        </ion-slide>
        <ion-slide>
          <img src="img/slider/2.png"/>
          <button class="button button-icon ion-close close_button" ng-click="closePage()"></button>
          <i class="icon ion-chevron-left arrow_left"></i>
          <i class="icon ion-chevron-right arrow_right"></i>
        </ion-slide>
        <ion-slide>
          <img src="img/slider/3.png"/>
          <button class="button button-icon ion-close close_button" ng-click="closePage()"></button>
          <i class="icon ion-chevron-left arrow_left"></i>
          <i class="icon ion-chevron-right arrow_right"></i>
        </ion-slide>
        <ion-slide>
          <img src="img/slider/4.png"/>
          <button class="button button-icon ion-close close_button" ng-click="closePage()"></button>
          <i class="icon ion-chevron-left arrow_left"></i>
          <i class="icon ion-chevron-right arrow_right"></i>
        </ion-slide>
        <ion-slide>
          <img src="img/slider/5.png"/>
          <button class="button button-icon ion-close close_button" ng-click="closePage()"></button>
          <i class="icon ion-chevron-left arrow_left"></i>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>
