<ion-view cache-view="false" view-title="Tribys" class="bar-triby">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios7-search" style="color:white;" ng-click="go('app/search')"></button>
    </ion-nav-buttons>
    <ion-content style="background-color:white">
      <!--<div class="list list-message-blue-no-connection">-->
        <!--<div class="reload_page_icon">-->
          <!--<button class="button button-icon ion-ios7-reload reload_button" style="color:white;"></button>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<b>Internet connection lost</b>-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--Check network connection and try again-->
        <!--</div>-->
          <!--<div class="item">-->
              <!--<button ng-click="go('app/main/home')" class="button button-stable">-->
                  <!--Reload-->
              <!--</button>-->
          <!--</div>-->
      <!--</div>-->
    </ion-content>
</ion-view>
