<ion-view cache-view="false" view-title="Notifications" ng-controller="AccountCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left client-positive" ng-click="backHistory()">Settings</button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list class="list-notifications">

          <ion-item class="item-icon-right">
                Hearts and Dislikes
                <i class="icon" ng-class="{'ion-ios-circle-filled':notifications.is_likes,'ion-ios-circle-outline':!notifications.is_likes}" style="color:#39b54a" ng-click="switchLikes()"></i>
          </ion-item>

            <ion-item class="item-icon-right">
                Comments
                <i class="icon" ng-class="{'ion-ios-circle-filled':notifications.is_new_comments,'ion-ios-circle-outline':!notifications.is_new_comments}" style="color:#39b54a" ng-click="switchComments()"></i>
            </ion-item>

            <ion-item class="item-icon-right">
                Posts
                <i class="icon" ng-class="{'ion-ios-circle-filled':notifications.is_new_posts,'ion-ios-circle-outline':!notifications.is_new_posts}" style="color:#39b54a" ng-click="switchPosts()"></i>
            </ion-item>

      </ion-list>
    </ion-content>

</ion-view>
