<ion-view cache-view="false" view-title="Tribys" class="bar-triby">
    <ion-content style="background-color:white">
        <!--<div class="list list-message-blue-no-connection">-->
            <!--<div class="item">-->
                <!--<b>Application's Network Down</b>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--PLease try to connect admin or try later-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<button ng-click="go('app/main/home')" class="button button-stable">-->
                    <!--Reload-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>
