<ion-view cache-view="false">
  <div class="bar bar-triby bar-header disable-user-behavior">
    <div class="buttons buttons-left">
      <span class="left-buttons">
         <button class="button button-icon ion-chevron-left client-positive" ng-click="closeSocialModal()">Close</button>
      </span>
    </div>
    <div class="title title-center header-item">{{::socialPostScreenTitle}}</div>
  </div>
  <ion-content style="top: 64px">
      <div class="list-noti " ng-repeat="user in socialPostUsers | orderBy:'username'">
          <div class="item item-avatar" >
              <img image-size ng-src="{{::user.pic || 'img/default_avatar.jpg'}}" />
              <h2 style="width:75%;float:left;">{{::user.username | limitName}}</h2>
              <div class="clearfix"></div>
          </div>
      </div>
      <br>
  </ion-content>
</ion-view>
