<ion-view cache-view="false" view-title="Terms">
	  <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left client-positive" ng-click="backHistory()">Settings</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="terms-page">
        <h1 style="text-align: center">Terms of Service</h1>

        <h3>Your Acceptance</h3>

        <p>
          This is an agreement between Triby Inc., a Canadian corporation (“Triby"), the owner
          and operator of www.triby.co (the “Triby Site”), the Triby software, including Triby app
          (collectively, including all content provided by Triby through Triby app and the Triby Site,
          and you (“you” or “You”), a user of the Service. BY USING THE SERVICE, YOU
          ACKNOWLEDGE AND AGREE TO THESE TERMS OF SERVICE, AND TRIBY'S
          PRIVACY POLICY, If you choose to not agree with any of these terms, you may not use
          the Service.
        </p>

        <h3>Use of the Service</h3>

        <p>
          Subject to the Terms (including without limitation your compliance with the Terms), you
          have the limited, non­exclusive, non­transferable, non­sublicensable, revocable right to
          download and install a copy of the App(s) from a legitimate marketplace (such as
          Apple’s App Store or Google Play) to your mobile device, and to access and use the
          Service, in each case, for your own personal use. You may not: (i) copy, modify, or
          create derivative works of the Service (or any part thereof) for any purpose; (ii)
          distribute, publicly display, publicly perform, transfer, sell, sublicense, lease, lend, rent
          or otherwise make available the Service (or any part thereof) to any third party; (iii)
          decompile, reverse­engineer, disassemble or interfere with or circumvent the Service
          (or any part thereof), including without limitation any security or access control
          mechanism (except to the extent such a restriction is impermissible under applicable
          law); or (iv) use the Service (or any part thereof) in any unlawful manner, for any
          unlawful purpose, or in any manner inconsistent with the Terms.
        </p>
        <p>
          The Services that Triby provides are always evolving and the form and nature of the
          Services that Triby provides may change from time to time without prior notice to you. In
          addition, Triby may stop (permanently or temporarily) providing the Services (or any
          features within the Services) to you or to users generally and may not be able to provide
          you with prior notice. We also retain the right to create limits on use and storage at our
          sole discretion at any time without prior notice to you.
        </p>
        <p>
          If you don’t agree with the new Terms, you are free to reject them; unfortunately, that
          means you will no longer be able to use the Services. If you use the Services in any
          way after a change to the Terms is effective, that means you agree to all of the
          changes..
        </p>
        <h3>
          Content Submission
        </h3>
        <p>
          Triby Service allows Triby users to submit profile photos and other communications
          submitted by you. These Submissions may be hosted, shared, and/or published as part
          of the Triby Service, and may be visible to other users of the Service who have your
          mobile phone number in their mobile phone and which you have not expressly blocked.
          A good rule of thumb is if you don’t want the whole world to know something or see
          something, don’t submit it to the Service.
        </p>
        <p>
          You shall be solely responsible for your own submissions and the consequences of
          posting or publishing them. Because Triby is only acting as a repository of data, user
          submitted posts do not necessarily represent the views or opinions of Triby, and Triby
          makes no guarantees as to the validity, accuracy or legal status of any post. In
          connection with Submissions, you affirm, represent, and/or warrant that: (i) you own or
          have the necessary licenses, rights, consents, and permissions to use and authorize
          Triby to use all patent, trademark, trade secret, copyright or other proprietary rights in
          and to any and all Submissions to enable inclusion and use of the Submissions in the
          manner contemplated by the Service and these Terms of Service; and (ii) you have the
          written consent, release, and/or permission of each and every identifiable individual
          person in the Submission to use the name or likeness of each and every such
          identifiable individual person to enable inclusion and use of the Submissions in the
          manner contemplated by the Service and these Terms of Service. To be clear: you
          retain all of your ownership rights in your Submissions, but you have to have the rights
          in the first place. However, by submitting the Submissions to Triby, you hereby grant
          Triby a worldwide, non­exclusive, royalty­free, sub licenseable and transferable license
          to use, reproduce, distribute, prepare derivative works of, display, and perform the
          Submissions in connection with the Triby Service and Triby's (and its successor's)
          business, including without limitation for promoting and redistributing part or all of the
          Triby Service (and derivative works thereof) in any media formats and through any
          media channels. You also hereby grant each subscriber to your posts on the Triby
          Service a non­exclusive license to access your Submissions through the Service. The
          foregoing license granted by you terminates once you remove or delete a Post
          Submission from the Triby Service.
        </p>

        <p>
          In connection with Submissions, you further agree that you will not: (i) submit material
          that is copyrighted, protected by trade secret or otherwise subject to third party
          proprietary rights, including privacy and publicity rights, unless you are the owner of
          such rights or have permission from their rightful owner to post the material and to grant
          Triby all of the license rights granted herein; (ii) publish falsehoods or
          misrepresentations that could damage Triby or any third party; (iii) submit material that
          is unlawful, obscene, defamatory, libelous, threatening, harassing, hateful, racially or
          ethnically offensive, or encourages conduct that would be considered a criminal offense,
          give rise to civil liability, violate any law, or is otherwise inappropriate; (iv) post
          advertisements or solicitations of business; (v) impersonate another person; (vi) send or
          store material containing software viruses, worms, Trojan horses or other harmful
          computer code, files, scripts, agents or programs; (vii) interfere with or disrupt the
          integrity or performance of the Service or the data contained therein; or (viii) attempt to
          gain unauthorized access to the Service or its related systems or networks.
        </p>
        <p>
          Adult content must be identified as such.Triby does not endorse any Submission or any
          opinion, recommendation, or advice expressed therein, and Triby expressly disclaims
          any and all liability in connection with Submissions. Triby does not permit copyright
          infringing activities and infringement of intellectual property rights via its Service, and
          Triby will remove all content and Submissions if properly notified that such content or
          Post Submission infringes on another's intellectual property rights. Triby reserves the
          right to remove content and Submissions without prior notice. Triby may also terminate
          a user's access to the Service, if they are determined to be a repeat infringer, or for any
          or no reason, including being annoying. A repeat infringer is a User who has been
          notified of infringing activity more than once and/or has had a Submission removed from
          the Service more than twice. An annoying person is anyone who is (capriciously or not)
          determined to be annoying by authorized Triby employees. Triby also reserves the right
          to decide whether content or a Submission is appropriate and complies with these
          Terms of Service for violations other than copyright infringement and violations of
          intellectual property law, such as, but not limited to excessive length or limited interest.
          Triby may remove such Submissions and/or terminate a User's access for uploading
          such material in violation of these Terms of Service at any time, without prior notice and
          at its sole discretion.
        </p>
        <p>
          Triby permits you to link to materials on the Service for personal purposes only. Triby
          reserves the right to discontinue any aspect of the Triby Service at any time.
        </p>
        <h3>
          Limitation of Liability
        </h3>
        <p>
          IN NO EVENT SHALL TRIBY, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR
          AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL,
          SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING
          FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II)
          PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER,
          RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICE, (III) ANY
          UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY
          AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED
          THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR
          FROM OUR SERVERS, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE
          LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE BY ANY
          THIRD PARTY, (V) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY
          LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF
          ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE
          AVAILABLE VIA THE TRIBY, WHETHER BASED ON WARRANTY, CONTRACT,
          TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY
          IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND/OR (VI) THE
          DISCLOSURE OF INFORMATION PURSUANT TO THESE TERMS OF SERVICE OR
          PRIVACY POLICY. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO
          THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.
        </p>
        <p>
          YOU SPECIFICALLY ACKNOWLEDGE THAT TRIBY SHALL NOT BE LIABLE FOR
          USER SUBMISSIONS OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL
          CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE
          FROM THE FOREGOING RESTS ENTIRELY WITH YOU.
        </p>
        <p>
          The Service is controlled and offered by Triby from its facilities in Canada. Triby makes
          no representations that the Triby Service is appropriate or available for use in other
          locations. Those who access or use the Triby Service from other jurisdictions do so at
          their own volition and are responsible for compliance with local law.
        </p>

        <h3>
          General
        </h3>

        <p>
          You agree that: (i) the Triby Service shall be deemed solely based in Canada; (ii) the
          Triby Service shall be deemed a passive server that does not give rise to personal
          jurisdiction over Triby, either specific or general, in jurisdictions other than Canada; and
          (iii) that you agree to subject to the jurisdiction of Canada in the event of any legal
          dispute. These Terms of Service shall be governed by the internal substantive laws of
          Canada, without respect to its conflict of laws principles. Any claim or dispute between
          you and Triby that arises in whole or in part from the Triby Service shall be decided
          exclusively by a court of competent jurisdiction located in Canada. These Terms of
          Service, together with the Privacy Policy shall constitute the entire agreement between
          you and Triby concerning the Triby Service. If any provision of these Terms of Service is
          deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall
          not affect the validity of the remaining provisions of these Terms of Service, which shall
          remain in full force and effect. No waiver of any term of this these Terms of Service shall
          be deemed a further or continuing waiver of such term or any other term, and Triby’s
          failure to assert any right or provision under these Terms of Service shall not constitute
          a waiver of such right or provision. Triby reserves the right to amend or modify these
          Terms of Service at any time, and it is your responsibility to review these Terms of
          Service for any changes. If you do not agree to the revised Terms, your only recourse is
          to discontinue the use of the Triby Service. Your continued use of the Triby Service
          following any amendment of these Terms of Service will signify your assent to and
          acceptance of its revised terms. YOU AND TRIBY AGREE THAT ANY CAUSE OF
          ACTION ARISING OUT OF OR RELATED TO THE TRIBY SERVICE MUST
          COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES.
          OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED. ("Triby")
          recognizes that its customers, visitors and users, want to know what's up with privacy.
          Triby provides this Privacy Policy to help you make an informed decision about whether
          to use or continue using the Triby App, Triby Site, Triby Software and/or the Triby
          Service. If you do not agree to our practices, please do not use the Triby Site, Triby
          Software,or Triby service.
        </p>

        <h3>
          Prohibited Activities
        </h3>
        <p>
          In addition to the other restrictions outlined in these Terms, you agree that you will not:
        </p>
        <ul>
          <li>
            Use the Services for any purpose that is illegal, beyond the scope of their
            intended use, or otherwise prohibited in these Terms or the terms of any third
            party that govern a particular Service;
          </li>
          <li>
            Use the Services in any manner that could interfere with, disrupt, negatively
            affect, or inhibit other users from fully enjoying the Services, or that could
            damage, disable, overburden, or impair the functioning of the Services in any
            manner;
          </li>
          <li>
            Compromise the security of the Services;
          </li>
          <li>
            Send any unsolicited or unauthorized advertising, spam, solicitations, or
            promotional materials;
          </li>
          <li>
            Use any robot, spider, crawler, scraper, or other automated means or interface
            not provided by us to access the Services or to extract data;
          </li>
          <li>
            Reverse engineer any aspect of the Services or do anything that might discover
            source code or bypass or circumvent measures employed to prevent or limit
            access to any area, content, or code of the Services;
          </li>
          <li>
            Use or attempt to use another user’s account without authorization;
          </li>
          <li>
            Attempt to circumvent any content­filtering techniques we employ, or attempt to
            access areas or features of the Services that you are not authorized to access;
          </li>
          <li>
            Attempt to indicate in any manner that you have a relationship with us or that we
            have endorsed you or any products or services without our express written
            consent to do so;
          </li>
          <li>
            Engage in any harassing, intimidating, predatory, or stalking conduct;
          </li>
          <li>
            Impersonate any person or entity or otherwise misrepresent your affiliation with a
            person or entity;
          </li>
          <li>
            Violate the publicity, privacy, or data­protection rights of others, including by
            taking pictures of another individual without receiving that individual’s consent;
          </li>
          <li>
            Infringe any patent, trademark, trade secret, copyright, or other intellectual or
            proprietary right of any party;
          </li>
          <li>
            Develop any third­party applications that interact with User Content or the
            Services without our prior written consent; and
          </li>
          <li>
            Use the Services for any illegal or unauthorized purpose or engage in,
            encourage, or promote any activity that violates these Terms
          </li>
        </ul>

        <h3>Privacy Notice</h3>
        <p>
          Triby Inc. recognizes that its customers, visitors and users, want to know about privacy.
          Triby provides this Privacy Policy to help you make an informed decision about whether
          to use or continue using the Triby Software and/or Triby App. If you do not agree to our
          practices, please do not use Triby Software,or Triby App.
        </p>
        <p>
          This Privacy Policy is incorporated into and is subject to Triby Terms of App. Your use
          of the Triby Software and Triby App and any personal information you provide on the
          Triby Site or Triby App remains subject to the terms of this Privacy Policy and our
          Terms of App.
        </p>
        <p>
          Please note that any Status Submissions or other content posted at the direction or
          discretion of users of the Triby App becomes published content and is not considered
          personally identifiable information subject to this Privacy Policy.
        </p>

        <h3>What Does This Privacy Policy Cover?</h3>
        <p>
          This Privacy Policy is part of Triby’s Terms of Service for the Triby App and covers the
          treatment of user information, including personally identifying information, obtained by
          Triby, including information obtained when you access the Triby’s Site, use Triby App or
          any other software provided by Triby.
        </p>
        <p>
          This Privacy Policy does not apply to the practices of companies that Triby does not
          own or control, or to individuals whom Triby does not employ or manage, including any
          of the third parties to which Triby may disclose user information as set forth in this
          Privacy Policy.
        </p>

        <h3>
          What kind of information we collect?
        </h3>

        <p>
          Triby may obtain the following types of information from or concerning you or your
          mobile phone device, which may include information that can be used to identify you as
          specified below (“Personally Identifying Information”):
        </p>

        <p>
          <strong>User Provided Information:​</strong>You provide certain Personally Identifiable
          Information, such as your mobile phone number, push notification name (if applicable),
          billing information (if applicable) and mobile device information to Triby when choosing
          to participate in various uses of the Triby App, such as registering as a user. In order to
          provide Triby App, Triby will periodically access your address book or contact list on
          your mobile phone to locate the mobile phone numbers of other Triby users
          (“in­network” numbers), or otherwise categorize other mobile phone numbers as
          “out­network” numbers, which are stored as one­way irreversibly hashed values.
        </p>

        <h3>The Way we use informations</h3>
        <p>
          If you submit Personally Identifiable Information to us through the Triby Site, or Triby
          App, then we use your personal information to operate, maintain, and provide to you the
          features and functionality of the Triby App. In particular, your mobile phone number is
          essential to your use of the Triby App, and will be retained. Any Personally Identifiable
          Information or status content that you voluntarily disclose on the Triby App becomes
          publicly available and may be collected and used by other users of the Triby App. We
          do not use your mobile phone number or other Personally Identifiable Information to
          send commercial or marketing messages without your consent or except as part of a
          specific program or feature for which you will have the ability to opt­in or opt­out. We
          may, however, use your mobile phone number (or email address, if provided) without
          further consent for non-marketing or administrative purposes (such as notifying you of
          major Triby Site or Triby App changes or for customer App purposes). We may use both
          your Personally Identifiable Information and certain non-personally-identifiable
          information to improve the quality and design of Triby App and to create new features,
          promotions, functionality, and App by storing, tracking, and analyzing user preferences
          and trends.
        </p>

        <h3>When Triby Discloses Information</h3>

        <p>
          We do not sell or share your Personally Identifiable Information (such as mobile phone
          number) with other third­party companies for their commercial or marketing use without
          your consent or except as part of a specific program or feature for which you will have
          the ability to opt­in or opt­out. We may share your Personally Identifiable Information
          with third party App providers We may collect and release Personally Identifiable
          Information and/or non­personally­identifiable information if required to do so by law, or
          in the good-faith belief that such action is necessary to comply with state and federal
          laws (such as Canadian Copyright Law), international law or respond to a court order,
          subpoena, or search warrant or equivalent, or where in our reasonable belief, an
          individual’s physical safety may be at risk or threatened. Triby App also reserves the
          right to disclose Personally Identifiable Information and/or non-personally-identifiable
          information that Triby believes, in good faith, is appropriate or necessary to enforce our
          Terms of App, take precautions against liability, to investigate and defend itself against
          any third-party claims or allegations, to assist government enforcement agencies, to
          protect the security or integrity of the Triby app, and to protect the rights, property, or
          personal safety of Triby, our users or others.
        </p>

        <h3>
          Your Choices
        </h3>

        <p>
          If you do not agree with our Privacy Policy or Terms of App, please delete your account,
          uninstall the Triby mobile application and discontinue use of Triby app; your continued
          usage of Triby app will signify your assent to and acceptance of our Privacy Policy and
          Terms of App. To protect your privacy and security, we take reasonable steps (such as
          SMS authentication in certain cases) to verify your identity before registering your
          mobile phone number and granting you access.
        </p>

        <h3>Our Commitment To Data Security</h3>

        <p>
          Triby uses commercially reasonable physical, managerial, and technical safeguards to
          preserve the integrity and security of your personal information. We cannot, however,
          ensure or warrant the security of any information you transmit to Triby and you do so at
          your own risk. Using unsecured wifi or other unprotected networks to submit messages
          through the Triby app is never recommended. Once we receive your transmission of
          information, Triby makes commercially reasonable efforts to ensure the security of our
          systems. However, please note that this is not a guarantee that such information may
          not be accessed, disclosed, altered, or destroyed by breach of any of our physical,
          technical, or managerial safeguards. If Triby learns of a security systems breach, then
          we may attempt to notify you electronically so that you can take appropriate protective
          steps. Triby may post a notice on the Triby Site or through the Triby app if a security
          breach occurs.
        </p>

        <h3>
          International Users
        </h3>

        <p>
          The Triby app is hosted in Canada and are intended for and directed to users in
          Canada. If you are a user accessing the Triby app from the European Union, Asia, or
          any other region with laws or regulations governing personal data collection, use, and
          disclosure, that differ from Canadian laws, please be advised that through your
          continued use of the Triby app, which are governed by Canadian law, this Privacy
          Policy, and our Terms of App, you are transferring your personal information to Canada
          and you expressly consent to that transfer and consent to be governed by Canadian law
          for these purposes.
        </p>

        <h3>
          Copyright Policy
        </h3>

        <p>
          Triby respects the intellectual property rights of others. In accordance with the Digital
          Millennium Copyright Act ("DMCA") and other applicable laws, we strive to expeditiously
          remove any infringing material from our site. If Triby becomes aware that one of its
          users is a repeat copyright infringer, it is our policy to take reasonable steps within our
          power to terminate the user’s account. All users should be aware of and comply with
          applicable copyright laws.
        </p>
    </ion-content>
</ion-view>
