<ion-view title="{{ 'REWARDS.TITLE' | translate }}">
    <ion-tabs class="tabs-positive tabs-top tabs-striped tabs-background-dark">
        <!-- <ion-tab title="{{ 'REWARDS.FEATURED' | translate }}" ui-sref="app.rewards.featured">
            <ion-nav-view name="rewards-featured"></ion-nav-view>
        </ion-tab> -->

         <ion-tab title="{{ 'REWARDS.ALL' | translate }}" ui-sref="app.rewards.all">
            <ion-nav-view name="rewards-all"></ion-nav-view>
        </ion-tab>

        <ion-tab title="{{ 'REWARDS.MINE' | translate }}" ui-sref="app.rewards.mine">
            <ion-nav-view name="rewards-mine"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
