<ion-view>
    <ion-content padding="true" class="intro-done bottom-0" scroll="false">
		<div class="welcome-text">
			<span class="on-ribbon" translate="INTRO.END_MSG">Amazing! Now you are ready to get rewarded for your training</span>
		</div>
    </ion-content>
    <ion-footer-bar class="bar-positive floating-footer floating-footer-button">
	    <button ng-click="introDone()" class="button button-big-sticky button-full floating-footer-button">{{ 'INTRO.LETS_DO_IT' | translate }}</button>
	  </ion-footer-bar>
</ion-view>
