<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Search</h1>
      <div id="compassContainer1">
          <img src="img/compass.png" id="compassContainer"/>
      </div>
      <br/>
      <button class="button button-light" ng-click="openModal()"> Modal </button>
      <button class="button button-light" ng-click="startCompass()"> Compass </button>
  </ion-content>


</ion-view>
