<ion-modal-view class="touchpoint popoverr slideshow share-data mood-help">
  <ion-content class="filter-popover mood-slide">
    <a href="javascript:;" ng-click="closeShareMoodModal()" class="go-back">X</a>

    <div class="box1 box">
      <div class="slide-image"></div>
      <h1>{{ 'SHARE_MOOD_TITLE' | translate}}</h1>
      <p>
        {{ 'SHARE_MOOD_COPY' | translate}} 
      </p>
      <!--<div class="clearfix">
        <button ng-click="shareTodaysMood()" class="button-start">
          {{ 'SHARE_TODAY' | translate }}
        </button>
      </div>-->

      <div class="clearfix">
        <button ng-click="shareWeeksMood()" class="button-start">
          {{ 'SHARE_PAST_7_DAYS' | translate }}
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>