<ion-modal-view class="touchpoint popoverr thoughts-2 share-data">
  <ion-content class="filter-popover">
    <a href="javascript:;" ng-click="closeShareThoughtModal()" class="go-back">X</a>

    <div class="box">
      <div class="slide-image"></div>
      <h1>{{ 'SHARE_THOUGHT_TITLE' | translate}}</h1>
      <p>
        {{ 'SHARE_THOUGHT_COPY' | translate}} 
      </p>

      <p class="label">
      {{ 'SELECTED_THOUGHT' | translate }}
      </p>
      <label class="item item-select">
      <select ng-model="thoughtOptions.thoughtOrdinal" ng-options="thoughtOptions.thoughts.indexOf(item) as getThoughtItemDisplay(item) for item in thoughtOptions.thoughts" ng-change="updateSelectedThought()">
      </select>
      </label>

      <div class="clearfix">
        <button ng-click="shareThought()" class="button-start">
          {{ 'SHARE_THOUGHT' | translate }}
        </button>
      </div>

    </div>
  </ion-content>
</ion-modal-view>