<ion-modal-view class="intro-view">
  <ion-content>
    <a href="javascript:;" ng-click="closeChooseRandomGroupModal()" class="go-back">X</a>

    <div class="box intro2">
 
		<div class="slide-image"></div>
    	<h1>{{ 'NUX_CHOOSE_GOAL' | translate }}</h1>
    	<h2>{{ 'NUX_CHOOSE_GOAL_SUBHEAD' | translate }}</h2>

			<div ng-click="joinRandomGroup('depression')" class="goal-option">
			    {{ 'NUX_GOAL_DEPRESSION' | translate }}
			</div>
			<div ng-click="joinRandomGroup('gad')" class="goal-option">
			   	{{ 'NUX_GOAL_GAD' | translate }}
			</div>
			<div ng-click="joinRandomGroup('social')" class="goal-option">
			   	{{ 'NUX_GOAL_SOCIAL' | translate }}
			</div>
			<div ng-click="joinRandomGroup('health')" class="goal-option"> 
			   	{{ 'NUX_GOAL_HEALTH' | translate }}
			</div>

		</div>
  </ion-content>
</ion-modal-view>