/* line 4, base.scss */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 44px;
}

/* line 6, base.scss */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 0px;
}

/* line 8, base.scss */
.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top: 44px;
}

/* line 11, base.scss */
html, body {
  height: 100%;
}

/* line 15, base.scss */
body {
  font-family: HelveticaNeueMD;
}

/* line 19, base.scss */
button {
  border: 0;
  background: none;
  display: block;
  width: 100%;
}

/* line 26, base.scss */
textarea {
  border: 1px solid #ddd;
}

/* line 30, base.scss */
textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"], input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: auto;
}

/* line 46, base.scss */
input:invalid {
  box-shadow: none;
}

/* line 50, base.scss */
.bar-header {
  border-color: #ad252a;
  background: #ad252a;
  color: #fff;
}
/* line 56, base.scss */
.bar-header .button img {
  height: 32px;
}

/* line 62, base.scss */
.bar-footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  border-color: #ad252a;
  background: #ad252a;
  color: #fff;
  height: 50px;
}
/* line 71, base.scss */
.bar-footer .button {
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: transparent;
  background-position: center center;
  background-position: no-repeat;
  background-size: cover;
  border: none;
}

/* line 89, base.scss */
.bar-footer-home {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-color: #232629;
  background: #232629;
  color: #fff;
  height: 50px;
  padding: 0px;
  border: 0;
  display: block;
  overflow: hidden;
  -webkit-transform: translateY(1px);
}
/* line 114, base.scss */
.bar-footer-home button {
  width: 20%;
  height: 50px;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  float: left;
}
/* line 131, base.scss */
.bar-footer-home button.activated {
  background-color: transparent;
  border: none;
}
/* line 138, base.scss */
.bar-footer-home .btn-feed {
  background-image: url("../images/footer/home.svg");
}
/* line 141, base.scss */
.bar-footer-home .btn-feed.selected {
  background-image: url("../images/footer/home-active.svg");
}
/* line 146, base.scss */
.bar-footer-home .btn-gallery {
  background-image: url("../images/footer/gallery.svg");
}
/* line 149, base.scss */
.bar-footer-home .btn-gallery.selected {
  background-image: url("../images/footer/gallery-active.svg");
}
/* line 154, base.scss */
.bar-footer-home .btn-moviemaker {
  background-image: url("../images/footer/moviemaker.svg");
}
/* line 157, base.scss */
.bar-footer-home .btn-moviemaker.selected {
  background-image: url("../images/footer/moviemaker-active.svg");
}
/* line 162, base.scss */
.bar-footer-home .btn-notification {
  position: relative;
}
/* line 165, base.scss */
.bar-footer-home .btn-notification .notif-count {
  position: absolute;
  top: 7px;
  right: 50%;
  margin-right: -25px;
  padding: 0 3px;
  height: 15px;
  background: #fff;
  color: #232629;
  border-radius: 10px;
  border: 1px solid #888;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  z-index: 5;
  word-wrap: nowrap;
  -webkit-animation: powerpulse 1s;
  -moz-animation: powerpulse 1s;
  animation: powerpulse 1s;
}
/* line 183, base.scss */
.platform-ios .bar-footer-home .btn-notification .notif-count {
  line-height: 1.1;
}
/* line 189, base.scss */
.bar-footer-home .btn-notification {
  background-image: url("../images/footer/notification.svg");
}
/* line 192, base.scss */
.bar-footer-home .btn-notification.selected {
  background-image: url("../images/footer/notification-active.svg");
}
/* line 197, base.scss */
.bar-footer-home .btn-options {
  background-image: url("../images/footer/menu.svg");
}
/* line 200, base.scss */
.bar-footer-home .btn-options.selected {
  background-image: url("../images/footer/menu-active.svg");
}

/* line 206, base.scss */
.has-sf-header {
  top: 50px;
  position: absolute;
  width: 100%;
}

/* line 212, base.scss */
.button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* line 215, base.scss */
.button:before {
  font-family: Ionicons;
}

/* line 220, base.scss */
.feed-end {
  color: #ccc;
  text-align: center;
  padding: 40px 0 80px 0;
}

/* line 226, base.scss */
.kana-button {
  position: relative;
  background: #9aa7b2;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 3px;
  line-height: 35px;
  padding: 0;
}
/* line 237, base.scss */
.kana-button img {
  width: 41px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 246, base.scss */
.activated {
  opacity: 0.5;
}

/* line 250, base.scss */
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 259, base.scss */
.sf-loading {
  text-align: center;
  font-size: 40px;
  margin: 40px 0 0 0;
}

/* line 266, base.scss */
.bootstrap-box {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
  color: #fff;
}
/* line 275, base.scss */
.bootstrap-box .loading-box {
  padding: 100px 0;
  text-align: center;
}
/* line 280, base.scss */
.bootstrap-box .button {
  margin: 20px 0;
  width: auto;
}
/* line 285, base.scss */
.bootstrap-box .btn-toggle-debug.active {
  background: #660000;
  color: white;
}
/* line 291, base.scss */
.bootstrap-box .first-start-error {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 299, base.scss */
.bootstrap-box .first-start-error a {
  color: #fff;
}

/* line 305, base.scss */
.page {
  background: #fff;
}

/* line 309, base.scss */
.my-item {
  left: 0;
  right: 0;
}

/* line 314, base.scss */
.has-footer {
  bottom: 50px;
}

/* line 318, base.scss */
.bar-header {
  border: 0;
}
/* line 321, base.scss */
.bar-header button.button {
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: transparent;
  border: none;
}

/* line 333, base.scss */
.bar-header .title svg {
  height: 30px;
  margin-top: 5px;
}

/* line 339, base.scss */
.logo-title {
  width: 95px;
  height: 32px;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

/* line 348, base.scss */
.friend-list .friend-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 15px 0 0px 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  color: #ad252a;
}
/* line 356, base.scss */
.friend-list .friend-item .thumb {
  margin-right: 15px;
  overflow: hidden;
  height: 30px;
  width: 30px;
}
/* line 363, base.scss */
.friend-list .friend-item .thumb img {
  height: 30px;
}

/* line 372, base.scss */
.sf-loader {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
}

/* line 378, base.scss */
.empty-list {
  text-align: center;
  margin: 50px 20px;
  color: #aaa;
}

/* line 384, base.scss */
.list-item.ng-leave {
  -webkit-animation: zoomOutLeft 1s linear;
  -moz-animation: zoomOutLeft 1s linear;
  animation: zoomOutLeft 1s linear;
}

/* line 388, base.scss */
.list-item.ng-move {
  -webkit-transition: all 10s ease;
  -moz-transition: all 10s ease;
  transition: all 10s ease;
}

/* line 392, base.scss */
.swingAnim {
  -webkit-animation: swing 1s 0 infinite;
  -moz-animation: swing 1s 0 infinite;
  animation: swing 1s 0 infinite;
}

/* line 396, base.scss */
.header-placeholder {
  height: 50px;
}

/* line 400, base.scss */
.bar-retractile {
  -webkit-transition: all 0.4s ease 0.4s;
  -moz-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

/* line 405, base.scss */
.bar-retractile-enabled.bar-retractile-down {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 409, base.scss */
.bar-retractile-enabled.bar-retractile-up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 414, base.scss */
.has-footer {
  bottom: 0;
}

/* line 418, base.scss */
.sf-icon-action-sheet {
  height: 25px;
  margin-top: 10px;
}

/* line 423, base.scss */
.btn-disabled {
  opacity: 0.5;
}

/* line 427, base.scss */
.network-toggle {
  width: 49%;
  background: #dedcdf;
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 0;
  height: 45px;
  float: left;
}
/* line 436, base.scss */
.network-toggle:nth-child(even) {
  float: right;
}
/* line 440, base.scss */
.network-toggle.disabled {
  opacity: 0.2;
}
/* line 444, base.scss */
.network-toggle label.toggle {
  right: auto;
  left: 6px;
  top: 6px;
}
/* line 450, base.scss */
.network-toggle label.toggle input + .track {
  background: #fff;
  border-color: #fff;
}
/* line 454, base.scss */
.network-toggle label.toggle input + .track .handle {
  background: #dedcdf;
}
/* line 461, base.scss */
.network-toggle label.toggle input:checked + .track {
  background: #12ad60;
  border-color: #12ad60;
}
/* line 465, base.scss */
.network-toggle label.toggle input:checked + .track .handle {
  background: #fff;
}
/* line 472, base.scss */
.network-toggle .network-icon {
  position: absolute;
  height: 100%;
  right: -1px;
  top: 0;
}

/* line 481, base.scss */
.action-sheet .button:hover, .action-sheet-group .button:hover {
  color: #4a87ee;
}

/* line 486, base.scss */
.platform-android .action-sheet .button {
  padding: 10px 20px;
}

/* line 490, base.scss */
ion-infinite-scroll {
  margin-bottom: 50px;
}
