@font-face {
	font-family: "HelveticaNeueBD";
	src: url("../fonts/official/HelveticaNeueW01-75Bold.eot");
	src: url("../fonts/official/HelveticaNeueW01-75Bold.eot#iefix") format("embedded-opentype"),
	url("../fonts/official/HelveticaNeueW01-75Bold.woff") format("woff"),
	url("../fonts/official/HelveticaNeueW01-75Bold.ttf") format("truetype"),
	url("../fonts/official/HelveticaNeueW01-75Bold.svg") format("svg");
}

@font-face {
	font-family: "HelveticaNeueLT";
	src: url("../fonts/official/HelveticaNeueW01-45Ligh.eot");
	src: url("../fonts/official/HelveticaNeueW01-45Ligh.eot#iefix") format("embedded-opentype"),
	url("../fonts/official/HelveticaNeueW01-45Ligh.woff") format("woff"),
	url("../fonts/official/HelveticaNeueW01-45Ligh.ttf") format("truetype"),
	url("../fonts/official/HelveticaNeueW01-45Ligh.svg") format("svg");
}

@font-face {
	font-family: "HelveticaNeueMD";
	src: url("../fonts/official/HelveticaNeueW01-65Medi.eot");
	src: url("../fonts/official/HelveticaNeueW01-65Medi.eot#iefix") format("embedded-opentype"),
	url("../fonts/official/HelveticaNeueW01-65Medi.woff") format("woff"),
	url("../fonts/official/HelveticaNeueW01-65Medi.ttf") format("truetype"),
	url("../fonts/official/HelveticaNeueW01-65Medi.svg") format("svg");
}

@font-face {
	font-family: "HelveticaNeueROMAN";
	src: url("../fonts/official/HelveticaNeueW02-55Roma.eot");
	src: url("../fonts/official/HelveticaNeueW02-55Roma.eot#iefix") format("embedded-opentype"),
	url("../fonts/official/HelveticaNeueW02-55Roma.woff") format("woff"),
	url("../fonts/official/HelveticaNeueW02-55Roma.ttf") format("truetype"),
	url("../fonts/official/HelveticaNeueW02-55Roma.svg") format("svg");
}

@font-face {
	font-family: "HelveticaNeueTH";
	src: url("../fonts/official/HelveticaNeueW01-Thin.eot");
	src: url("../fonts/official/HelveticaNeueW01-Thin.eot#iefix") format("embedded-opentype"),
	url("../fonts/official/HelveticaNeueW01-Thin.woff") format("woff"),
	url("../fonts/official/HelveticaNeueW01-Thin.ttf") format("truetype"),
	url("../fonts/official/HelveticaNeueW01-Thin.svg") format("svg");
}

@font-face {
	font-family: "HelveticaNeueBLK";
	src: url("../fonts/official/HelveticaNeueW01-95Blac.eot");
	src: url("../fonts/official/HelveticaNeueW01-95Blac.eot#iefix") format("embedded-opentype"),
	url("../fonts/official/HelveticaNeueW01-95Blac.woff") format("woff"),
	url("../fonts/official/HelveticaNeueW01-95Blac.ttf") format("truetype"),
	url("../fonts/official/HelveticaNeueW01-95Blac.svg") format("svg");
}
