@import 'variables';

.popup-container {
	.popup {
		.popup-head {
			display: none;
		}

		.popup-body {
			color: #98a6b1;
			font-family: HelveticaNeueTH, sans-serif;
			font-size: 20px;
			margin: 10px;
			text-align: center;

			img {
				width: 100%;
				margin: 30px auto 0;
			}
		}

		.popup-buttons {
			button {
				border: none;
				background: #63c199;
				border-radius: 5px;
			}
		}
	}
}
