@import 'variables';

.sf-movie-mosaic {
	.mm-header {
		.user-thumb {
			.platform-android4_1 &, .platform-android4_2 &, .platform-android4_3 & {
				width: 30px;
			}
		}

		div.name {
			.platform-android4_1 &, .platform-android4_2 &, .platform-android4_3 &, .platform-ios6 & {

				width: 100px;

				@media (min-width: 250px) {
					width: 165px;
				}

				@media (min-width: 321px) {
					width: 250px;
				}

				@media (min-width: 500px) {
					width: 300px;
				}
			}
		}

		div.created {
			.platform-android4_1 &, .platform-android4_2 &, .platform-android4_3 & {
				width: 75px;
				position: absolute;
				right: 5px;
			}
		}
	}
}
