<ion-view class="user-tier-view" hide-nav-bar="true">
    <ion-content>
        <div class="padding premium-blue top-content">
            <div class="premium-header feature-list">
                <h1 translate>COMMIT</h1>
                <p translate>PREMIUM_ONBOARD</p>
                <p class="link" ng-click="selectPremium()" translate>START_PREM</p>
            </div>
        </div>
        <div class="bottom-content">
            <div class="flex-justify-center flex-align-center center">
                <button class="button button-block button-primary premium-blue-primary"
                        ng-click="selectPremium()" translate>
                    TELL_MORE
                </button>
                <a class="button button-block button-secondary button-clear"
                   ng-click="selectFree()" translate>
                    NOTNOW
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
