<ion-content class="credentials">

	<div class="error-box" ng-if="errorBoxCredentials.length">
		<ul>
			<li ng-repeat="message in errorBoxCredentials">{{ message }}</li>
		</ul>
	</div>
	<form name="credentialsForm" ng-init="setCredentialsFormScope(this)">
		<label><span translate>nome de usuário</span>
			<input maxlength="60" type="text" name="username" ng-model="data.username">
		</label>
		<label><span translate>e-mail</span>
			<input maxlength="255" type="text" name="email" ng-model="data.email">
		</label>

		<button ng-click="saveCredentialsSettings()" class="kana-button btn-save-settings">
			<img src="images/kana-lock.png" />
			<span translate>Salvar</span>
		</button>
	</form>

	<div class="or-separator"><span translate>alterar senha</span></div>

	<div class="error-box" ng-if="errorBoxPassword.length">
		<ul>
			<li ng-repeat="message in errorBoxPassword">{{ message }}</li>
		</ul>
	</div>

	<form novalidate name="passwordForm">

		<label><span translate>senha atual</span>
			<input type="password" name="password" ng-model="data.password">
		</label>
		<label><span translate>nova senha</span>
			<input type="password" name="newPassword" ng-model="data.newPassword">
		</label>
		<label><span translate>confirme a nova senha</span>
			<input type="password" name="confirmPassword" ng-model="data.confirmPassword">
		</label>

		<button ng-click="savePasswordSettings(data)" class="kana-button btn-save-password">
			<img src="images/kana-lock.png" />
			<span translate>Salvar senha</span>
		</button>
	</form>
</ion-content>
