<div class="modal health-modal">
    <ion-header-bar>
        <button class="button button-clear button-primary" ng-click="closeHealthModal()">{{'CLOSE' | translate}}
        </button>
        <h1 class="title">{{'HEALTH_SET' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="width-control-lite">
        <p class="page-instructions">{{'HEALTH_ADJ' | translate}}</p>
        <div class="health-instructions">
            <div>
                <img src="img/healthkit.png"/>
            </div>
            <div class="health-text">
                <p>{{'LAUNCH_H' | translate}}</p>
            </div>
        </div>
        <div class="health-instructions">
            <div><img src="img/extras/sources.png"/></div>
            <div class="health-text"><p>{{'TAP_H' | translate}}</p></div>
        </div>
        <div class="health-instructions">
            <div><img src="img/extras/sworkit.png"/></div>
            <div class="health-text"><p>{{'SEL_H_LITE' | translate}}</p></div>
        </div>
        <div>
            <h3 class="health-share">{{'SHARE_H' | translate}}</h3>
            <p>{{'SHARE_H_1' | translate}}</p>
            <p>{{'SHARE_H_2' | translate}}</p>
        </div>
    </ion-content>
</div>